.contextmenu-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.contextmenu-item {
    min-height: 36px;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    border-radius: min(0px, calc(var(--chrome-roundness) - 2px));
    width: 100%;
    transition: 0.2s background-color;
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;

    &.checkbox[data-check-type="circle"] {
        .contextmenu-item-icon {
            border-radius: 99999px;
            box-shadow: inset 0px 0px 0px 2px gray;
            outline-offset: -4px;
        }
    }

    &.checkbox[data-checked="true"] {
        &[data-check-type="check"] {
            .contextmenu-item-icon {
                background-image: url(chrome://dot/content/skin/icons/check.svg) !important;
            }
        }

        &[data-check-type="circle"] {
            .contextmenu-item-icon {
                box-shadow: inset 0px 0px 0px 2px
                    var(--dot-ui-accent-colour);
                background-color: var(
                    --dot-ui-accent-colour
                );
                outline: 2px solid
                    var(--arrowpanel-background);
                outline-offset: -4px;
            }
        }
    }

    .contextmenu-item-icon {
        width: 14px;
        height: 14px;
        background-size: cover;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        margin-inline-end: 12px;
        background-image: attr(data-icon);

        &.arrow-right {
            width: 12px;
            height: 12px;
            background-image: url(chrome://dot/content/skin/icons/chevron-right-12.svg);
            margin-left: auto;
            margin-inline-end: 0px;
            fill-opacity: 0.75;
        }
    }

    .contextmenu-item-label {
        margin-inline-end: 28px;
    }

    .contextmenu-item-keybind {
        margin-left: auto;
        text-align: right;
        opacity: 0.5;
        font-family: inherit;
        padding-left: 3rem;
    }

    &[data-disabled="true"] {
        opacity: 0.35;
        pointer-events: none;
    }

    &[data-visible="false"] {
        display: none;
        visibility: hidden;
    }

    &:hover,
    &:focus-visible {
        background-color: var(
            --toolbarbutton-hover-background
        );
    }

    &:is(.normal, .checkbox):hover:active {
        background-color: var(
            --toolbarbutton-active-background
        );
    }
}

.contextmenu-separator {
    display: flex;
    width: calc(100% - (12px / 2) * 2);
    height: 1px;
    border: none;
    outline: none;
    background-color: var(--arrowpanel-border-color);
    margin: 0.5rem 0;
    align-items: center;
    justify-content: center;
}
