/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/skin/input.css");

:host(.customizable-area-error) {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.customizable-area-error-container {
    display: flex;
    flex: 1;
    height: 100%;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.customizable-area-error-container .customizable-area-error-button-container {
    display: flex;
    gap: 4px;
}