/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
	--toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
	--toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
	--toolbar-color: var(--toolbar-non-lwt-textcolor);

	--lwt-additional-images: none;
	--lwt-background-alignment: right top;
	--lwt-background-tiling: no-repeat;
	--lwt-brighttext-url-color: #00ddff;
}
