/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

customizable-root {
    display: flex;
    width: 100%;
    height: 100%;
}

.customizable-stack,
.customizable-shelf {
    display: flex;
    gap: 4px;
}

.customizable-stack {
    flex-direction: column;
}

.customizable-shelf {
    flex-direction: row;
}

.customizable-element {
    width: var(--width);
    height: var(--height);
}

.customizable-element:not([width]):not([height]) {
    flex: 1;
}

.customizable-element[width="fill"] {
    --width: 100%;
}

.customizable-element[width="hug"] {
    --width: max-content;
}

.customizable-element[height="fill"] {
    --height: 100%;
}

.customizable-element[height="hug"] {
    --height: max-content;
}