.settings-item {
    min-height: 34px;
    width: 100%;
    display: flex;
    align-items: center;
}

.settings-item-left {
    flex: 1;
}

.settings-item-left,
.settings-item-right {
    strong {
        font-size: 14px;
        margin: 0;
        height: 26px;
        line-height: 27px;
        font-weight: 500;
    }

    p {
        margin: 0;
        line-height: 22px;
        opacity: 0.5;
    }
}