/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.titlebar-buttonbox-container {
    position: fixed;
    top: 0;
    display: flex;
    right: 0;
    z-index: 10000;
    height: var(--urlbar-toolbar-height) !important;
}


:root[tabsintitlebar] #nav-bar {
    padding-right: 138px;
}

#context-navigation {
    background-color: transparent !important;
}
  
#context-sep-navigation {
    margin-inline-start: unset !important;
    border: none !important;
    margin: 0 !important;
    border-bottom: 1px solid var(--arrowpanel-dimmed);
    background-color: transparent !important;
    padding: 0 !important;
    margin: 4px 0 !important;
}

menuseparator {
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 4px 0 !important;
    border-bottom: 1px solid var(--arrowpanel-dimmed);
}

.menu-text {
    margin-inline-start: 2px !important;
}

menupopup {
    border: none !important;
}

#context-sendpagetodevice::before {
    margin-right: -20px !important;
    margin-left: 4px !important;
}

.menu-iconic-left {
    padding-inline-end: unset !important;
}