/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabbrowser-tabs-scroller {
    display: flex;
    width: calc(100% - 6px);
    max-width: max-content;
    height: 100%;
    margin-inline-end: 6px;
    overflow: hidden;
}

#tabbrowser-tabs {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    display: contents;

    --tab-animation-duration: 0.1s;
}

#browser:not(.tabs-scroller-buttons-visible) {
    .tabs-scroller-button {
        display: none !important;
    }
}

@include useReducedMotion {
    #tabbrowser-tabs {
        --tab-animation-duration: 0s;
    }
}
