.webui-sidebar {
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-text-color);
    width: 418px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    height: 100%;
    max-width: 35%;

    .webui-sidebar-header {
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 3rem;

        h1 {
            font-size: 1.8rem;
            font-weight: 600;
        }
    }
}
