/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#browser.macos.tabs-in-titlebar:not(.native-window-controls) {
    .titlebar-buttonbox-container .titlebar-button {
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .titlebar-buttonbox-container .titlebar-min {
        background-image: url(chrome://dot/content/skin/icons/window/macos-min.svg);
    }

    .titlebar-buttonbox-container .titlebar-max {
        background-image: url(chrome://dot/content/skin/icons/window/macos-max.svg);
    }

    .titlebar-buttonbox-container .titlebar-close {
        background-image: url(chrome://dot/content/skin/icons/window/macos-close.svg);
    }
}