/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#browser.windows.tabs-in-titlebar:not(.native-window-controls) {
    .titlebar-buttonbox-container {
        padding: 0;
    }

    .titlebar-buttonbox-container .titlebar-button {
        width: 44px;
        height: 40px;
        -moz-context-properties: fill, fill-opacity;
        fill: var(
            --toolbarbutton-icon-fill,
            currentColor
        );
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
    }

    .titlebar-buttonbox-container .titlebar-button:hover {
        background-color: #ffffff1a;
    }

    .titlebar-buttonbox-container .titlebar-close:hover {
        background-color: #e81123e6;
    }

    .titlebar-buttonbox-container .titlebar-min {
        background-image: url(chrome://dot/content/skin/icons/window/windows-min.svg);
    }

    .titlebar-buttonbox-container .titlebar-max {
        background-image: url(chrome://dot/content/skin/icons/window/windows-max.svg);
    }

    .titlebar-buttonbox-container .titlebar-close {
        background-image: url(chrome://dot/content/skin/icons/window/windows-close.svg);
    }
}
