/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "../../themes/theme.scss"; 

#browser.linux.tabs-in-titlebar:not(.native-window-controls) {
    .titlebar-buttonbox-container .titlebar-buttonbox {
        align-items: center;
        gap: 6px;
    }

    .titlebar-buttonbox-container .titlebar-button {
        width: 28px;
        height: 28px;
        -moz-context-properties: fill, fill-opacity;
        fill: var(--toolbarbutton-icon-fill, currentColor);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
        border-radius: 100%;
    }

    .titlebar-buttonbox-container .titlebar-button:hover {
        background-color: var(--button-hover, var(--toolbarbutton-hover-background));
    }

    .titlebar-buttonbox-container .titlebar-button:active {
        background-color: var(--button-active, var(--toolbarbutton-active-background));
    }

    .titlebar-buttonbox-container .titlebar-close:hover {
        background-color: $accent-red;
    }

    .titlebar-buttonbox-container .titlebar-close:active {
        background-color: darken($accent-red, 5%);
    }

    .titlebar-buttonbox-container .titlebar-min {
        background-image: url(chrome://dot/content/skin/icons/window/linux-min.svg);
    }

    .titlebar-buttonbox-container .titlebar-max {
        background-image: url(chrome://dot/content/skin/icons/window/linux-max.svg);
    }

    .titlebar-buttonbox-container .titlebar-close {
        background-image: url(chrome://dot/content/skin/icons/window/linux-close.svg);
    }
}