# Enforce LF line endings
* text=auto eol=lf

# Make sure these are up to date with .vscode/settings.json
# Some filetypes can't exist in Linguist so just ignore them (e.g. properties or conf files)

*.jsm linguist-language=JavaScript
*.configure linguist-language=Python
*.build linguist-language=Python
*.mozbuild linguist-language=Python
components.conf linguist-language=Python