node_modules/
patches/
configs/
common/
.dotbuild/
.github/workflows
engine/
src/**/*.patch
**/dist/
**/firefox-branding.js
**/profile.js

# This is here because Prettier makes the file unreadable
src/dot/components/ContextMenu/**/*