/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#navigator-toolbox {
    display: flex;
    width: 100%;
    flex-direction: column;
}

#navigation-bar {
    display: flex;
    -moz-window-dragging: drag;
    background-color: var(--toolbar-bgcolor);
    color: var(--toolbar-color, var(--lwt-text-color));
    position: relative;
    height: 44px;
    justify-content: space-between;
    z-index: 2;
}

#navigation-bar #navigation-bar-container {
    display: flex;
    gap: 4px;
    padding: 0 6px;
    align-items: center;
    flex: 1;
}

#tab-bar {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: var(--lwt-accent-color);
    overflow: hidden;
    margin-top: -36px;
    transition: 0.15s margin-top;
    z-index: 1;
}

#browser.tabs-visible {
    #tab-bar {
        margin-top: 0px;
    }

    #new-tab-button {
        margin-inline-start: 6px;
    }
}