.dot-ui-radio {
    display: flex;

    .dot-ui-radio-input {
        width: 18px;
        height: 18px;
        border-radius: 18px;
        appearance: none;
        border: none;
        outline: none;
        border: 2px solid #D2D4D7;
        margin: 0;
        min-width: 18px;
        min-height: 18px;

        &[value="true"]:hover {
            background-color: color-mix(in srgb, var(--dot-ui-accent-colour) 100%, #7a7a7a 10%);
        }
    
        &[value="true"]:active {
            background-color: color-mix(in srgb, var(--dot-ui-accent-colour) 100%, #7a7a7a 20%);
        }

        &[value="false"]:hover {
            border-color: #959494;
        }
    
        &[value="false"]:active {
            border-color: #757575;
        }
    }

    .dot-ui-radio-input[value="true"] {
        background-color: var(--dot-ui-accent-colour);
        -moz-context-properties: fill;
        fill: white;
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: center;
        border: 3px solid var(--dot-ui-accent-colour);
        outline: 3px solid var(--toolbar-bgcolor);
        outline-offset: -5px;
    }

    .dot-ui-radio-label {
        user-select: none;
        cursor: default;
        margin-inline-start: 12px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
}

.dot-ui-radio.is-spaced {
    margin: 12px 0;
}