/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-icon {
    display: flex;

    background-image: var(--src);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -moz-context-properties: fill;
    fill: currentColor;

    width: var(--size, 16px);
    height: var(--size, 16px);

    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
}

/* Icons */
browser-icon[name="add"] {
    --src: url(chrome://dot/skin/add.svg);
}

browser-icon[name="arrow-down"] {
    --src: url(chrome://dot/skin/arrow-down.svg);
}

browser-icon[name="arrow-left"] {
    --src: url(chrome://dot/skin/arrow-left.svg);
}

browser-icon[name="arrow-right"] {
    --src: url(chrome://dot/skin/arrow-right.svg);
}

browser-icon[name="arrow-up"] {
    --src: url(chrome://dot/skin/arrow-up.svg);
}

browser-icon[name="briefcase"] {
    --src: url(chrome://dot/skin/briefcase.svg);
}

browser-icon[name="brush"] {
    --src: url(chrome://dot/skin/brush.svg);
}

browser-icon[name="calculator"] {
    --src: url(chrome://dot/skin/calculator.svg);
}

browser-icon[name="camera"] {
    --src: url(chrome://dot/skin/camera.svg);
}

browser-icon[name="captions"] {
    --src: url(chrome://dot/skin/captions.svg);
}

browser-icon[name="check"] {
    --src: url(chrome://dot/skin/check.svg);
}

browser-icon[name="chevron-down"] {
    --src: url(chrome://dot/skin/chevron-down.svg);
}

browser-icon[name="chevron-left"] {
    --src: url(chrome://dot/skin/chevron-left.svg);
}

browser-icon[name="chevron-right"] {
    --src: url(chrome://dot/skin/chevron-right.svg);
}

browser-icon[name="chevron-up"] {
    --src: url(chrome://dot/skin/chevron-up.svg);
}

browser-icon[name="clock"] {
    --src: url(chrome://dot/skin/clock.svg);
}

browser-icon[name="close"] {
    --src: url(chrome://dot/skin/close.svg);
}

browser-icon[name="collapse-left"] {
    --src: url(chrome://dot/skin/collapse-left.svg);
}

browser-icon[name="collapse-right"] {
    --src: url(chrome://dot/skin/collapse-right.svg);
}

browser-icon[name="cookie"] {
    --src: url(chrome://dot/skin/cookie.svg);
}

browser-icon[name="copy"] {
    --src: url(chrome://dot/skin/copy.svg);
}

browser-icon[name="cut"] {
    --src: url(chrome://dot/skin/cut.svg);
}

browser-icon[name="download"] {
    --src: url(chrome://dot/skin/download.svg);
}

browser-icon[name="edit"] {
    --src: url(chrome://dot/skin/edit.svg);
}

browser-icon[name="error"] {
    --src: url(chrome://dot/skin/error.svg);
}

browser-icon[name="exit-fullscreen"] {
    --src: url(chrome://dot/skin/exit-fullscreen.svg);
}

browser-icon[name="folder"] {
    --src: url(chrome://dot/skin/folder.svg);
}

browser-icon[name="fullscreen"] {
    --src: url(chrome://dot/skin/fullscreen.svg);
}

browser-icon[name="globe"] {
    --src: url(chrome://dot/skin/globe.svg);
}

browser-icon[name="heart"] {
    --src: url(chrome://dot/skin/heart.svg);
}

browser-icon[name="home"] {
    --src: url(chrome://dot/skin/home.svg);
}

browser-icon[name="hourglass-filled"] {
    --src: url(chrome://dot/skin/hourglass-filled.svg);
}

browser-icon[name="hourglass"] {
    --src: url(chrome://dot/skin/hourglass.svg);
}

browser-icon[name="info"] {
    --src: url(chrome://dot/skin/info.svg);
}

browser-icon[name="jigsaw"] {
    --src: url(chrome://dot/skin/jigsaw.svg);
}

browser-icon[name="key"] {
    --src: url(chrome://dot/skin/key.svg);
}

browser-icon[name="media-pause"] {
    --src: url(chrome://dot/skin/media-pause.svg);
}

browser-icon[name="media-play"] {
    --src: url(chrome://dot/skin/media-play.svg);
}

browser-icon[name="media-stop"] {
    --src: url(chrome://dot/skin/media-stop.svg);
}

browser-icon[name="more-horizontal"] {
    --src: url(chrome://dot/skin/more-horizontal.svg);
}

browser-icon[name="more-vertical"] {
    --src: url(chrome://dot/skin/more-vertical.svg);
}

browser-icon[name="musical-note"] {
    --src: url(chrome://dot/skin/musical-note.svg);
}

browser-icon[name="padlock-unsecure"] {
    --src: url(chrome://dot/skin/padlock-unsecure.svg);
}

browser-icon[name="padlock"] {
    --src: url(chrome://dot/skin/padlock.svg);
}

browser-icon[name="page"] {
    --src: url(chrome://dot/skin/page.svg);
}

browser-icon[name="pages"] {
    --src: url(chrome://dot/skin/pages.svg);
}

browser-icon[name="paste"] {
    --src: url(chrome://dot/skin/paste.svg);
}

browser-icon[name="picture"] {
    --src: url(chrome://dot/skin/picture.svg);
}

browser-icon[name="pinpoint"] {
    --src: url(chrome://dot/skin/pinpoint.svg);
}

browser-icon[name="print"] {
    --src: url(chrome://dot/skin/print.svg);
}

browser-icon[name="question"] {
    --src: url(chrome://dot/skin/question.svg);
}

browser-icon[name="redo"] {
    --src: url(chrome://dot/skin/redo.svg);
}

browser-icon[name="reload"] {
    --src: url(chrome://dot/skin/reload.svg);
}

browser-icon[name="rubbish-bin"] {
    --src: url(chrome://dot/skin/rubbish-bin.svg);
}

browser-icon[name="screenshot"] {
    --src: url(chrome://dot/skin/screenshot.svg);
}

browser-icon[name="search"] {
    --src: url(chrome://dot/skin/search.svg);
}

browser-icon[name="settings"] {
    --src: url(chrome://dot/skin/settings.svg);
}

browser-icon[name="shield"] {
    --src: url(chrome://dot/skin/shield.svg);
}

browser-icon[name="shopping-bag"] {
    --src: url(chrome://dot/skin/shopping-bag.svg);
}

browser-icon[name="star"] {
    --src: url(chrome://dot/skin/star.svg);
}

browser-icon[name="sync"] {
    --src: url(chrome://dot/skin/sync.svg);
}

browser-icon[name="toggle"] {
    --src: url(chrome://dot/skin/toggle.svg);
}

browser-icon[name="undo"] {
    --src: url(chrome://dot/skin/undo.svg);
}

browser-icon[name="user"] {
    --src: url(chrome://dot/skin/user.svg);
}

browser-icon[name="warning"] {
    --src: url(chrome://dot/skin/warning.svg);
}

browser-icon[name="zoom-in"] {
    --src: url(chrome://dot/skin/zoom-in.svg);
}

browser-icon[name="zoom-out"] {
    --src: url(chrome://dot/skin/zoom-out.svg);
}

/* Special icons */
browser-icon[name="brand16"] {
    --src: url(chrome://branding/content/icon16.png);
}

browser-icon[name="brand32"] {
    --src: url(chrome://branding/content/icon32.png);
}