/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-icon {
    display: flex;

    background-image: var(--src);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    -moz-context-properties: fill;
    fill: currentColor;

    width: var(--size, 16px);
    height: var(--size, 16px);
    min-width: var(--size, 16px);
    min-height: var(--size, 16px);
    max-width: var(--size, 16px);
    max-height: var(--size, 16px);

    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
}