/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.toolbar-button {
    display: flex;

    align-self: stretch;

    background-color: transparent !important;

    /* We set this to 0 as it is a leftover from input.css */
    min-height: 0px;
    min-width: 0px;

    --button-area-height: max(var(--area-min-height), var(--area-height));

    --x-padding: var(--area-x-padding, calc((var(--button-area-height) - var(--y-padding) - 16px) / 2));
    --y-padding: var(--area-y-padding, calc(var(--button-area-height) * 0.1 * 2 * calc(2 - var(--button-scale-factor, 1))));
    --content-size: min(var(--button-area-height) / 1.5, 1rem);

    padding: calc(var(--y-padding) / 2) 0;

    -moz-window-dragging: no-drag;

    outline: none !important;
    transition: none !important;
    z-index: initial !important;
}

.toolbar-button .toolbar-button-container {
    display: flex;

    align-items: center;
    justify-content: center;
    align-self: stretch;

    background-color: var(--button-background);
    outline: var(--button-outline);
    outline-offset: var(--button-outline-offset);

    gap: max(var(--x-padding), 4px);

    max-width: max-content;
    max-height: max-content;

    border-radius: calc(var(--content-size) / 2);

    padding: 0 var(--x-padding);

    transition: var(--button-transition);

    z-index: var(--button-z-index);
}

.toolbar-button:disabled {
    pointer-events: auto;
}

.toolbar-button[mode=icons] .toolbar-button-container>*:not(.toolbar-button-icon),
browser-toolbar[mode=icons] .toolbar-button:not([mode]) .toolbar-button-container>*:not(.toolbar-button-icon),
:host([mode=icons]) .toolbar-button:not([mode]) .toolbar-button-container>*:not(.toolbar-button-icon),
[mode=icons]>.toolbar-button:not([mode]) .toolbar-button-container>*:not(.toolbar-button-icon) {
    display: none;
}

.toolbar-button[mode=text].toolbar-button-container>*:not(.toolbar-button-label),
browser-toolbar[mode=text] .toolbar-button:not([mode]).toolbar-button-container>*:not(.toolbar-button-label),
:host([mode=text]) .toolbar-button:not([mode]).toolbar-button-container>*:not(.toolbar-button-label),
[mode=text]>.toolbar-button:not([mode]).toolbar-button-container>*:not(.toolbar-button-label) {
    display: none;
}

.toolbar-button .toolbar-button-label {
    font-size: var(--content-size);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.toolbar-button .toolbar-button-icon {
    background-size: var(--button-icon-size);
}