/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-toolbar {
    display: flex;
    align-items: stretch;
    flex: 1;

    background-color: transparent;
    color: var(--lwt-text-color);

    padding-inline: 4px;

    -moz-window-dragging: drag;

    overflow: clip;
}

browser-toolbar.accent {
    background-color: var(--toolbar-bgcolor);
}

browser-toolbar:not([initial])::part(csd) {
    display: none !important;
}

browser-toolbar::part(content) {
    display: flex;
    gap: 4px;
    flex: 1;
}

:root[chromemargin=""] browser-window-controls,
:root:not([chromemargin]) browser-window-controls {
    display: none;
}

:root[chromemargin=""] browser-toolbar::part(csd),
:root:not([chromemargin]) browser-toolbar::part(csd) {
    visibility: hidden;
    max-width: 0;
}

browser-toolbar[collapse] {
    display: none;
}