/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.toolbar-button {
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: transparent;

    --padding-y: calc(var(--browser-ui-density) - 2px);
    --padding-x: calc(var(--browser-ui-density) + 2px);
    padding: var(--padding-y) var(--padding-x);

    border-radius: 6px;

    gap: 8px;

    transition: background 200ms var(--button-ease-out-quad),
        outline 25ms var(--button-ease-out-quad);

    -moz-window-dragging: no-drag;
}

.toolbar-button:disabled {
    pointer-events: auto;
}

/* Make sure in icons mode that the toolbar button is exactly a square */
.toolbar-button[mode=icons],
.customizable-area[mode=icons] .toolbar-button:not([mode]) {
    aspect-ratio: 1;
    --padding-y: var(--browser-ui-density);
    --padding-x: var(--browser-ui-density);
}

.toolbar-button[mode=icons]>*:not(.toolbar-button-icon),
.customizable-area[mode=icons] .toolbar-button:not([mode])>*:not(.toolbar-button-icon) {
    display: none;
}

.toolbar-button[mode=text]>*:not(.toolbar-button-label),
.customizable-area[mode=text] .toolbar-button:not([mode])>*:not(.toolbar-button-label) {
    display: none;
}