/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-toolbar {
    display: flex;
    align-items: stretch;

    background-color: transparent;
    color: var(--lwt-text-color);

    --padding: 4px;

    -moz-window-dragging: drag;

    --area-min-height: 28px;

    --csd-visibility: none;
}

browser-toolbar[initial] {
    --csd-visibility: flex;
}

browser-toolbar[accent] {
    background-color: var(--lwt-accent-color);
    z-index: 200;
}

browser-toolbar[collapse] {
    display: none;
}

@media (prefers-contrast) {
    browser-toolbar:not([initial])::before {
        content: "";
        position: absolute;
        width: calc(100% + var(--padding));
        height: 1px;
        background-color: var(--browser-high-contrast-color);
        left: calc(0px - var(--padding));
    }
}

:host(browser-toolbar) .customizable-container {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 4px;
}

:host(browser-toolbar[orientation=horizontal]) .customizable-container {
    padding-inline: var(--padding);
}


:host(browser-toolbar[orientation=vertical]) .customizable-container {
    padding-block: var(--padding);
}

:host(browser-toolbar) browser-window-controls {
    display: var(--csd-visibility);
}

/* :host(browser-toolbar[initial]) .customizable-container {
    padding-block-start: calc(var(--browser-ui-density) / 3);
} */