/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-toolbar {
    display: flex;
    align-items: stretch;
    flex: 1;

    background-color: transparent;
    color: var(--lwt-text-color);

    --padding-x: 4px;

    padding-inline: var(--padding-x);

    -moz-window-dragging: drag;
}

browser-toolbar.accent {
    background-color: var(--toolbar-bgcolor);
    z-index: 200;
}

browser-toolbar:not([initial])::part(csd) {
    display: none !important;
}

browser-toolbar::part(content) {
    display: flex;
    gap: 4px;
    flex: 1;
}

:root[chromemargin=""] browser-window-controls,
:root:not([chromemargin]) browser-window-controls {
    display: none;
}

:root[chromemargin=""] browser-toolbar::part(csd),
:root:not([chromemargin]) browser-toolbar::part(csd) {
    visibility: hidden;
    max-width: 0;
}

browser-toolbar[collapse] {
    display: none;
}

@media (prefers-contrast) {
    browser-toolbar:not([initial])::before {
        content: "";
        position: absolute;
        width: calc(100% + var(--padding-x));
        height: 1px;
        background-color: currentColor;
        left: calc(0px - var(--padding-x));
    }
}

browser-toolbar.customizable-area>.toolbar-button {
    margin-block: 4px;
}