/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-toolbar {
    display: flex;
    align-items: stretch;
    background-color: transparent;
    color: var(--lwt-text-color);
    gap: 4px;
    padding-inline: 4px;
    -moz-window-dragging: drag;
    flex: 1;
}

browser-toolbar.accent {
    background-color: var(--toolbar-bgcolor);
}