<!--
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" class="private">
  <head>
    <title data-l10n-id="about-history-page-title"></title>
    <meta http-equiv="Content-Security-Policy" content="default-src chrome: blob:; object-src 'none'"/>
    <link rel="icon" href="chrome://browser/skin/history.svg"/>
    <link rel="stylesheet" href="chrome://browser/content/abouthistory/aboutHistory.css" media="all"/>
    <link rel="localization" href="branding/brand.ftl"/>
    <link rel="localization" href="browser/branding/brandings.ftl">
    <link rel="localization" href="browser/aboutHistory.ftl">
    <script src="chrome://browser/content/abouthistory/aboutHistory.js"></script>
    <script src="chrome://browser/content/contentTheme.js"></script>
  </head>

  <body>
    <div class="divide">
      <aside class="history-sidebar">
        <h1 data-l10n-id="about-history-page-title"></h1>
        <div class="search-box">
          <i class="search-box-icon"></i>
          <input placeholder="Search history..." type="text" />
        </div>
      </aside>
    </div>
  </body>
</html>
