/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html, body {
  background-color: var(--newtab-background-color);
  color: var(--newtab-text-primary-color);
  margin: 0;
  padding: 0;
  font-family: inherit;
}

h1 {
  color: var(--newtab-text-primary-color) !important;
}

.divide {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  max-width: calc(418px - 42px - 42px);
  width: 100%;
  height: 100vh;
  background-color: var(--newtab-background-color);
  padding: 0 42px;
  flex-direction: column;
  border-right: 1px solid rgba(137, 137, 137, 0.1);
}

.sidebar > h1 {
  height: 102px;
  font-weight: 600;
  font-size: 26px;
  line-height: 102px;
  width: 100%;
  margin: 0;
}

.sidebar > .search-box {
  display: flex;
  width: calc(100% - 4px);
  height: 48px;
  background-color: rgba(137, 137, 137, 0.15);
  border-radius: 10px;
  transition: 0.2s all ease;
  box-shadow: 0px 0px 0px 0px transparent;
  border: 2px solid transparent;
}

.sidebar > .search-box:hover {
  background-color: rgba(137, 137, 137, 0.1);
}

.sidebar > .search-box:focus-within {
  box-shadow: 0px 0px 0px 4px rgb(37 110 245 / 50%);
  border: 2px solid rgba(37,110,245,1);
  background-color: var(--newtab-background-color);
}

.sidebar > .search-box > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 48px;
  color: var(--newtab-text-primary-color);
  font-size: 15px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.sidebar > .search-box > input:focus {
  border: none;
  box-shadow: none;
}

.sidebar > .search-box > .search-box-icon {
  width: 60px;
  height: 48px;
  background-image: url(chrome://browser/skin/search-glass.svg);
  background-size: 20px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  filter: invert(1) brightness(0.5);
}

.sidebar-categories {
  padding: 0;
}

.sidebar-category {
  display: flex;
  height: 48px;
  border-radius: 10px;
  color: var(--newtab-text-primary-color);
  transition: 0.2s all ease;
  padding: 0 18px;
  line-height: 48px;
  margin: 6px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
}

.sidebar-category::before {
  content: "";
  position: relative;
  left: -18px;
  height: 24px;
  width: 4px;
  background-color: rgba(37,110,245,1);
  margin-right: -4px;
  border-radius: 12px;
  opacity: 0;
  transition: 0.2s all;
}

.sidebar-category-selected::before {
  opacity: 1;
}

li::marker {
  content: close-quote;
}

.sidebar-category-selected,
.sidebar-category-selected:hover {
  text-decoration: none;
  color: rgba(37,110,245,1) !important;
  background-color: rgba(137, 137, 137, 0.08);
}

.sidebar-category:not(.sidebar-category-selected):hover {
  color: var(--newtab-text-primary-color);
  text-decoration: none;
  background-color: rgba(137, 137, 137, 0.1);
}

.sidebar-category > i {
  fill: currentColor;
  -moz-context-properties: fill, fill-opacity;
  width: 24px;
  height: 24px;
  margin-right: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar-category > .all-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/all.svg);
}

.sidebar-category > .today-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/today.svg);
}

.sidebar-category > .yesterday-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/yesterday.svg);
}

.sidebar-category > .last-week-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/last-week.svg);
}

.sidebar-category > .last-month-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/last-month.svg);
}

.sidebar-category > .older-icon {
  background-image: url(chrome://browser/content/abouthistory/icons/older.svg);
}