/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

checkbox {
    appearance: none !important;
}

checkbox > .checkbox-check {
    appearance: none !important;
    background-color: transparent;
    border: 2px solid var(--arrowpanel-color);
    fill: transparent;
    opacity: 0.4;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    -moz-context-properties: fill;
    background-position: center;
    background-repeat: no-repeat;
}

checkbox:hover > .checkbox-check[checked="true"] {
    background-image: linear-gradient(#00000034 0%, #00000034 100%);
}

checkbox:active > .checkbox-check[checked="true"] {
    background-image: linear-gradient(#00000067 0%, #00000067 100%);
}

checkbox:hover > .checkbox-check {
    opacity: 0.6;
}

checkbox:active > .checkbox-check {
    opacity: 0.9;
}

checkbox > .checkbox-check[checked="true"] {
    list-style-image: url(chrome://global/skin/icons/check.svg);
    background-color: var(--dot-accent-color) !important;
    fill: white !important;
    opacity: 1 !important;
    border: none !important;
    padding: 2px;
}

checkbox > .checkbox-label-box > .checkbox-label {
    margin-inline-start: 8px !important;
}