/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.dialogBox {
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108) !important;
    margin-top: calc(-68px + -5px) !important;
}

.dialogBox, .dialogTemplate {
    border-radius: 10px;
}
  
.dialogTemplate {
    margin: 68px !important;
}
  
#window-modal-dialog::backdrop {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)) !important;
}