.widget-attribution {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.35);

    a {
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        transition: 0.2s color;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}
