/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialog {
    min-width: 700px;
}

#aboutDialogContainer {
	background-color: #131315;
	color: #fff;
}

#clientBox {
	padding: 10px 0 15px;
}

#leftBox {
	background-image: url("chrome://branding/content/about-logo.svg");
	background-repeat: no-repeat;
	background-size: 192px auto;
	background-position: center 20%;
	/* min-width and min-height create room for the logo */
	min-width: 100px;
	min-height: 210px;
	margin-top: 20px;
	margin-inline-start: 30px;
}

.text-link {
	color: #fff !important;
	text-decoration: underline;
}

#rightBox {
	background-size: auto 64px;
	margin-inline: 30px;
	padding-top: 64px;
    -moz-context-properties: fill;
    fill: currentColor;
}

#bottomBox {
	background-color: #131315;
	padding: 15px 10px 15px;
}
