/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#urlbar {
    border-radius: 12px;
    height: 32px;
    width: 100%;
    -moz-window-dragging: no-drag;
    position: relative;
}

#urlbar #urlbar-background {
    background-color: rgb(20, 20, 27);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: 0.3s background-color;

    &[data-hovered="true"] {
        background-color: color-mix(in srgb, rgb(20, 20, 27) 85%, black);
    }
}

#urlbar #urlbar-input-container {
    display: flex;
    height: 32px;
    padding: 0px;
    position: absolute;
    width: 100%;
}

#urlbar #urlbar-input-container #page-action-buttons {
    display: flex;
}

#urlbar #urlbar-input-container #identity-box,
#urlbar #urlbar-input-container #page-action-buttons {
    padding: 2px;
}

#urlbar[open] {
    background-color: var(--button-hover-bgcolor);
}

#urlbar-input-container {
    #urlbar-input {
        width: 100%;
        height: 100%;
        padding: 0px 2px;
        position: relative;
        cursor: text;
    }

    #urlbar-input-box {
        appearance: none;
        border: none;
        outline: none;
        font-size: 14px;
        color: var(--lwt-toolbar-field-color);
        height: 100%;
        width: 100%;
        padding: 0;
        z-index: 10;
        position: absolute;

        &::placeholder {
            color: var(--lwt-toolbar-field-color);
            opacity: 0.5;
        }
    }

    #urlbar-input-url {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: text;
        user-select: none;
        font-size: 14px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        width: inherit;
        mask-image: linear-gradient(-90deg, transparent 1px, var(--lwt-tab-text) 30px);

        .scheme, .host, .path {
            opacity: 0.5;
        }

        .scheme[data-hide-protocol="true"] {
            display: none;
        }

        :hover {
            background-image: linear-gradient();
        }
    }
}

#star-button-box.starred .searchbar-button-icon {
    fill: var(--dot-ui-accent-colour);
}