.dot-ui-button {
    padding: 0 24px;
    color: currentColor;
    min-height: 36px;
    border-radius: var(--chrome-roundness);
    transition: 0.2s background-color, 0.2s color,
        0.2s outline;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    cursor: default;

    &.just-label {
        padding: 0;
        min-width: auto;
        width: 36px !important;
    }

    &:hover {
        background-color: var(
            --toolbarbutton-hover-background
        );
    }

    &:active {
        background-color: var(
            --toolbarbutton-active-background
        );
    }

    .dot-ui-button-icon {
        width: 16px;
        height: 16px;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
    }

    .dot-ui-button-label {
        font-weight: 600;
        font-size: 13px;
        user-select: none;
        cursor: default;
    }
}

.dot-ui-button.dot-ui-button-primary {
    background-color: var(--dot-ui-accent-colour);
    color: var(--dot-ui-accent-colour-text);

    &:hover {
        background-color: color-mix(
            in srgb,
            var(--dot-ui-accent-colour) 100%,
            #7a7a7a 10%
        );
    }

    &:active {
        background-color: color-mix(
            in srgb,
            var(--dot-ui-accent-colour) 100%,
            #7a7a7a 20%
        );
    }

    &:not(.dot-ui-no-focus):focus {
        outline: 3px solid var(--dot-ui-accent-colour);
        outline-offset: 3px;
    }
}

.dot-ui-button.dot-ui-button-danger {
    background-color: var(--dot-ui-danger);
    color: white;

    &:hover {
        background-color: color-mix(
            in srgb,
            var(--dot-ui-danger) 100%,
            #7a7a7a 10%
        );
    }

    &:active {
        background-color: color-mix(
            in srgb,
            var(--dot-ui-danger) 100%,
            #7a7a7a 20%
        );
    }

    &:not(.dot-ui-no-focus):focus {
        outline: 3px solid var(--dot-ui-danger);
        outline-offset: 3px;
    }
}
