@import '../../../../themes/_colours.scss';

.settings-accent-colour-picker {
    display: flex;
    gap: 14px;
    margin-top: 16px;
    margin-bottom: 16px;

    .accent-bubble {
        border-radius: 24px;
        width: 24px;
        height: 24px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bubble-accent-colour);
        transition: 0.3s box-shadow;

        &::before {
            width: 8px;
            height: 8px;
            display: flex;
            content: "";
            justify-content: center;
            align-items: center;
            background-color: white;
            transform: scale(0);
            opacity: 0;
            transition: 0.15s transform, 0.1s opacity;
            border-radius: 8px;
            box-shadow: 0 0px 8px 4px rgba(0,0,0,.132);
        }

        &:hover, &[data-selected="true"] {
            &::before {
                transform: scale(1);
                opacity: 1;
            }
        }

        &:active {
            &::before {
                transform: scale(0.8);
                opacity: 1;
            }
        }

        &:focus {
            box-shadow: 0px 0px 0px 4px color-mix(in srgb, var(--bubble-accent-colour) 50%, transparent);
        }

        &.colour-red { --bubble-accent-colour: #{$accent-red}; }
        &.colour-orange { --bubble-accent-colour: #{$accent-orange}; }
        &.colour-yellow { --bubble-accent-colour: #{$accent-yellow}; }
        &.colour-green { --bubble-accent-colour: #{$accent-green}; }
        &.colour-blue { --bubble-accent-colour: #{$accent-blue}; }
        &.colour-indigo { --bubble-accent-colour: #{$accent-indigo}; }
        &.colour-purple { --bubble-accent-colour: #{$accent-purple}; }
        &.colour-pink { --bubble-accent-colour: #{$accent-pink}; }
        &.colour-gray { --bubble-accent-colour: #{$accent-gray}; }
    }
}