dev-debug-graph {
    display: flex;
    width: 520px;
    height: 200px;
    position: relative;
    flex-direction: column;
}

dev-debug-graph canvas {
    position: absolute;
}

dev-debug-graph .graph-y-axis {
    display: flex;
    flex: 1;
}

dev-debug-graph .graph-y-axis .graph-canvas-container {
    display: flex;
    flex: 1;
    background-size: var(--size) var(--size);
    background-image: linear-gradient(to right, color-mix(in srgb, currentColor 10%, transparent 0%) 1px, transparent 1px), linear-gradient(to bottom, color-mix(in srgb, currentColor 10%, transparent 0%) 1px, transparent 1px);
    --size: 8px;
}

dev-debug-graph ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

dev-debug-graph .graph-y-axis ul {
    height: 100%;
    flex-direction: column;
    text-align: right;
}

dev-debug-graph .graph-x-axis ul {
    padding-right: var(--y-width, 0px);
}