/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

dev-debug-panel {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 1px 1px 4px black;
    padding: 8px;
    display: flex;
    flex-direction: column;
    white-space: break-spaces;
    gap: 1rem;
    z-index: 2147483647;
}