/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

dev-customizable-area-context menupopup {
    background-color: black;
    color: white;
    padding: 8px;
    border: 1px solid white;
    border-radius: 8px;
}

dev-customizable-area-context menupopup .area-context-menu-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
}