.launcher-wrapper {
    width: 600px;
    flex-direction: column;
    border-radius: 16px;
    position: absolute;
    justify-content: center;
    margin-top: 20vh;
    max-height: 64vh;
    background-color: var(--toolbar-bgcolor);
    box-shadow: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    transition: 0.2s transform ease, 0.2s opacity ease;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.95);
    overflow: hidden;

    &[data-expanded="true"] {
        .launcher-popup-results {
            max-height: 400px;
            min-height: 400px;
            opacity: 1;
        }
    }

    &[data-expanded="false"] {
        .launcher-popup-results {
            .launcher-popup-results-container {
                overflow: hidden;
            }
        }
    }
}

.launcher-popup {
    display: flex;
    max-width: 600px;
    width: 100%;
    position: relative;
    transition: 0.2s max-height;
    flex-direction: column;
    user-select: none;
    pointer-events: all;
    max-height: 56px;
    height: 100%;
}

.launcher-popup-input {
    display: flex;
    width: 100%;
    z-index: 0;
    align-items: center;
    position: relative;
    height: 56px;
    min-height: 56px;
    
    .launcher-popup-input-icon {
        background-image: url(chrome://dot/content/skin/icons/search.svg);
        width: 16px;
        height: 16px;
        background-size: 16px;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        fill-opacity: 0.9;
        background-repeat: no-repeat;
        background-position: 0px 0px;
        position: absolute;
        left: 18px;
        pointer-events: none;
    }

    .launcher-popup-input-box {
        appearance: none;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 17px;
        color: currentColor;
        margin: 0;
        padding: 0;
        padding-left: calc(18px * 3);

        &::placeholder {
            opacity: 0.5;
        }
    }
}

.launcher-popup-results {
    width: 100%;
    height: 100%;
    transition: 0.3s opacity, 0.3s max-height, 0.3s min-height;
    display: flex;
    user-select: none;
    position: relative;
    pointer-events: all;

    opacity: 0;
    overflow: hidden;
    max-height: 0px;
    min-height: 0px;

    .launcher-popup-results-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 18px;
        border-radius: 0px 0px 16px 16px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        padding: 1rem 0;
        position: relative;
        overflow-y: auto;

        .launcher-popup-results-container-highlight {
            width: calc(100% - 10px * 2);
            height: 46px;
            display: flex;
            margin: 0px 10px;
            background-color: var(--toolbarbutton-hover-background);
            border-radius: 10px;
            transition: 0.2s transform ease;
            position: absolute;
            left: 0;
        }
    }
}