/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tab-label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

:host(browser-tab[layout="tab"]) browser-tab-label {
    min-width: 20%;
}

:host(:not(browser-tab[layout="tab"])) browser-tab-label:not([customizablearg-fit="true"]) {
    max-width: 180px;
}

:host(browser-tab[layout="tab"]) browser-tab-label,
browser-tab-label:not([customizablearg-fit="true"]) {
    flex: 1;

    &:-moz-locale-dir(ltr) {
        mask-image: linear-gradient(to right, black 90%, #fff0);
    }

    &:-moz-locale-dir(rtl) {
        mask-image: linear-gradient(to left, black 90%, #fff0);
    }
}