/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tabs {
    display: flex;
    background-color: var(--lwt-accent-color);
    width: max-content;
    gap: 1px;
}

browser-toolbar[initial]::part(content) {
    padding-block-start: calc(var(--browser-ui-density) / 3);
}