/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tab-label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

:host(browser-tab) browser-tab-label[overflowing],
browser-tab-label[overflowing] {
    &:-moz-locale-dir(ltr) {
        mask-image: linear-gradient(to left, transparent, black var(--tab-label-mask-size, 2em));
    }

    &:-moz-locale-dir(rtl) {
        mask-image: linear-gradient(to right, transparent, black var(--tab-label-mask-size, 2em));
    }
}