/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0s;
}

browser-tab-icon[hideicon] .browser-tab-image {
    visibility: hidden;
}

browser-tab-icon .browser-tab-image,
browser-tab-icon .browser-tab-spinner {
    display: flex;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    -moz-context-properties: fill;
    fill: currentColor;
    user-select: none;
    pointer-events: none;
}

browser-tab-icon[progress] .browser-tab-image,
browser-tab-icon:not([progress]) .browser-tab-spinner {
    visibility: hidden;
    position: absolute;
}

browser-tab-icon[customizablearg-progress="false"] .browser-tab-spinner {
    visibility: hidden !important;
}

browser-tab-icon[customizablearg-progress="false"] .browser-tab-image {
    visibility: visible !important;
}

browser-tab-icon .browser-tab-spinner {
    mask-size: cover;
    background-color: currentColor;
}

:host(browser-tab[layout="tab"]) browser-tab-icon[hideicon]:not([progress]) {
    --position-x: calc((16px + var(--browser-ui-density)) / -1);
    transition-delay: 0.3s;
}

:host(browser-tab[layout="tab"]) browser-tab-icon .browser-tab-image,
:host(browser-tab[layout="tab"]) browser-tab-icon .browser-tab-spinner {
    transition: 0.3s margin-inline-start cubic-bezier(0.19, 1, 0.22, 1);

    margin-inline-start: var(--position-x, 0px);
    margin-inline-end: var(--browser-ui-density);
}

:host(browser-tab[layout="tab"]) browser-tab-icon[hideicon]:not([progress]) .browser-tab-spinner {
    transition-delay: 0.3s;
}

/* Busy */
browser-tab-icon[progress="1"] .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/tab-loading-busy.svg);
}

/* In Transit */
browser-tab-icon[progress="2"] .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/tab-loading-transit.svg);
    background-color: var(--browser-accent-color);
}

@media (prefers-reduced-motion: reduce) {
    browser-tab-icon[progress="1"] .browser-tab-spinner {
        mask-image: url(chrome://dot/skin/hourglass.svg);
    }

    browser-tab-icon[progress="2"] .browser-tab-spinner {
        mask-image: url(chrome://dot/skin/hourglass-filled.svg);
    }
}