/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-web-panel {
    display: flex;
    flex: 10000 10000;
    min-height: 0;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

browser-web-panel:not([visible]) {
    z-index: -2147483647;
}

browser-web-panel browser-web-frame {
    flex: 10000 10000;
    min-height: 25px;
    min-width: 25px;
    position: relative;
}

browser-web-panel browser-web-frame .browser-web-contents {
    width: 100%;
    height: 100%;
}