/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button.browser-tab-button {
    padding: 0px;

    min-height: 0px;
    min-width: 0px;

    --button-default-color: transparent;

    --button-padding-percent: 12;
    padding: calc(var(--tab-true-height) / 100 * var(--button-padding-percent));

    & .browser-button-icon {
        --size: 14px;
    }
}