/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tab {
    display: flex;
    justify-content: flex-start;

    max-width: 220px;
    width: 100%;

    padding: var(--browser-ui-density) calc(var(--browser-ui-density) * 1.25);
    padding-inline-end: var(--browser-ui-density);
    margin: 0;

    appearance: none;

    user-select: none;
    -moz-window-dragging: no-drag;

    will-change: transform;
}

browser-tab>*:not(.browser-tab-background) {
    z-index: 1;
}

browser-tab .browser-tab-background {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: var(--tab-background);

    border-radius: var(--browser-ui-density) var(--browser-ui-density) 0 0;

    transition: 0.4s background-color cubic-bezier(0.19, 1, 0.22, 1),
        0.4s box-shadow cubic-bezier(0.19, 1, 0.22, 1);

    overflow: clip;
}

browser-tab:hover {
    --tab-background: rgba(128, 128, 128, 0.125);
}

browser-tab[selected] {
    --tab-background: var(--toolbar-bgcolor);
}

browser-tab .browser-tab-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);
}

browser-tab[hideicon]:not([progress]) .browser-tab-icon-container {
    --position-x: calc((16px + var(--browser-ui-density)) / -1);
}

browser-tab[hideicon] .browser-tab-icon-container .browser-tab-icon {
    visibility: hidden;
}

browser-tab .browser-tab-icon,
browser-tab .browser-tab-spinner {
    display: flex;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    -moz-context-properties: fill;
    fill: currentColor;
    user-select: none;
    pointer-events: none;
    margin-inline-start: var(--position-x, 0px);
    margin-inline-end: var(--browser-ui-density);
    transition: 0.3s margin-inline-start cubic-bezier(0.19, 1, 0.22, 1);
}

browser-tab[progress] .browser-tab-icon,
browser-tab:not([progress]) .browser-tab-spinner {
    visibility: hidden;
    position: absolute;
}

browser-tab .browser-tab-spinner {
    mask-size: cover;
    background-color: currentColor;
}

browser-tab .browser-tab-contents {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--browser-ui-density);
    overflow: hidden;
}

browser-tab .browser-tab-contents .browser-tab-label-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    flex: 1;
}

browser-tab .browser-tab-contents .browser-tab-label-container:-moz-locale-dir(ltr) {
    mask-image: linear-gradient(to right, black 90%, #fff0);
}

browser-tab .browser-tab-contents .browser-tab-label-container:-moz-locale-dir(rtl) {
    mask-image: linear-gradient(to left, black 90%, #fff0);
}

/* Busy */
browser-tab[progress="1"] .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/tab-loading-busy.svg);
}

/* In Transit */
browser-tab[progress="2"] .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/tab-loading-transit.svg);
    background-color: var(--browser-accent-color);
}

:root[reducedmotion] browser-tab .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/hourglass.svg);
}

:root[reducedmotion] browser-tab[progress="2"] .browser-tab-spinner {
    mask-image: url(chrome://dot/skin/hourglass-filled.svg);
}

browser-tab .browser-tab-background::before {
    content: "";
    background-color: color-mix(in srgb, var(--browser-accent-color) 20%, transparent 100%);
    width: var(--tab-load-percent, 0%);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.6s opacity cubic-bezier(0.19, 1, 0.22, 1), 0s width;
    z-index: 0;
}

:root[reducedmotion] .browser-tab-background::before {
    visibility: hidden;
}

browser-tab[progress] .browser-tab-background::before {
    opacity: 1;
    transition: 0.6s opacity cubic-bezier(0.19, 1, 0.22, 1),
        0.1s width cubic-bezier(0.19, 1, 0.22, 1);
}

browser-tab:not([dragging]) {
    transition: 0.3s translate cubic-bezier(0.19, 1, 0.22, 1);
    will-change: translate;
}

browser-tab::after,
browser-tab::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(0deg,
            transparent var(--height),
            var(--color) var(--height),
            var(--color) calc(100% - var(--height)),
            transparent calc(100% - var(--height)));
    top: 0;
    z-index: 1;
    transition: 0.4s opacity cubic-bezier(0.19, 1, 0.22, 1);
    --color: rgba(128, 128, 128, 0.25);
    --height: 20%;
}

browser-tab::before {
    left: 0;
}

browser-tab::after {
    right: 0;
    transform: translateX(2px);
}

browser-tab[selected]::after,
browser-tab[precedes-selected]::after,
browser-tab:hover::after,
browser-tab[precedes-hover]::after,
browser-tab[selected]::before,
browser-tab[selected]+browser-tab::before,
browser-tab:hover::before,
browser-tab:hover+browser-tab::before {
    opacity: 0;
}

browser-tab[dragging] {
    z-index: 100;
    transform: translate(var(--tab-drag-x, 0px), var(--tab-drag-y, 0px));
}

browser-tab[dragging][dragging-shadow] .browser-tab-background {
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.75);
}

browser-tab:not([dragging]) {
    transition: 0.3s transform cubic-bezier(0.19, 1, 0.22, 1);
}

browser-tab[dragging][dragging-feedback] {
    transition: 1s box-shadow cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

browser-tab[dragging][dragging-feedback="left"] {
    box-shadow: -4px 0px 4px 0px rgba(128, 128, 128, 0.5);
}

@media (prefers-contrast) {

    browser-tab[selected] .browser-tab-background,
    browser-tab:not([selected]):hover .browser-tab-background {
        border: 1px solid currentColor;
    }

    browser-tab::after,
    browser-tab::before,
    browser-tab:last-of-type:not(:hover):not([selected])::after {
        --height: 0%;
        --color: currentColor;
        opacity: 1;
        transition-duration: 0s;
    }
}

@media not (prefers-contrast) {
    browser-tab::before {
        display: none;
    }
}

browser-tab .browser-tab-icons {
    display: flex;
}

browser-tab .toolbar-button {
    padding: calc(var(--padding-y) / 2) calc(var(--padding-x) / 2);
    --size: 12px;
}