/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-tab {
    display: flex;
    justify-content: flex-start;

    width: 100%;
    height: 40px;

    max-width: var(--tab-max-width);
    min-width: 40px;
    max-height: 40px;

    margin: 0;

    appearance: none;

    user-select: none;
    -moz-window-dragging: no-drag;

    will-change: transform;

    --base-transition: 0.3s max-width cubic-bezier(0.19, 1, 0.22, 1), 0.3s width cubic-bezier(0.19, 1, 0.22, 1);
    transition: var(--base-transition);
}

browser-tab>*:not(.browser-tab-background) {
    z-index: 1;
}

browser-tab .browser-tab-background {
    display: flex;
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: var(--tab-background);

    border-radius: var(--browser-ui-density) var(--browser-ui-density) 0 0;

    transition: 0.4s background-color cubic-bezier(0.19, 1, 0.22, 1),
        0.4s box-shadow cubic-bezier(0.19, 1, 0.22, 1);

    overflow: clip;

    z-index: -1;
}

browser-tab:hover {
    --tab-background: rgba(128, 128, 128, 0.125);
}

browser-tab[selected] {
    --tab-background: var(--toolbar-bgcolor);
}

browser-tab .browser-tab-contents {
    display: flex;
    align-items: center;
    flex: 1;
    gap: var(--browser-ui-density);
    overflow: hidden;
}

browser-tab .browser-tab-background::before {
    content: "";
    background-color: color-mix(in srgb, var(--browser-accent-color) 20%, transparent 100%);
    width: var(--tab-load-percent, 0%);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.6s opacity cubic-bezier(0.19, 1, 0.22, 1), 0s width;
    z-index: 0;
}

@media (prefers-reduced-motion: reduce) {
    .browser-tab-background::before {
        visibility: hidden;
    }
}

browser-tab[progress] .browser-tab-background::before {
    opacity: 1;
    transition: 0.6s opacity cubic-bezier(0.19, 1, 0.22, 1),
        0.1s width cubic-bezier(0.19, 1, 0.22, 1);
}

browser-tab:not([dragging]) {
    transition: var(--base-transition), 0.3s transform cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
}

browser-tab::after,
browser-tab::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-image: linear-gradient(0deg,
            transparent var(--height),
            var(--color) var(--height),
            var(--color) calc(100% - var(--height)),
            transparent calc(100% - var(--height)));
    top: 0;
    z-index: 1;
    transition: 0.4s opacity cubic-bezier(0.19, 1, 0.22, 1);
    --color: rgba(128, 128, 128, 0.25);
    --height: 20%;
}

browser-tab::before {
    left: 0;
}

browser-tab::after {
    right: 0;
}

browser-tab[selected]::after,
browser-tab[precedes-selected]::after,
browser-tab:hover::after,
browser-tab[precedes-hover]::after,
browser-tab[selected]::before,
browser-tab[selected]+browser-tab::before,
browser-tab:hover::before,
browser-tab:hover+browser-tab::before {
    opacity: 0;
}

browser-tab[dragging] {
    z-index: 100;
    transform: translate(var(--tab-drag-x, 0px), var(--tab-drag-y, 0px));
}

browser-tab[dragging][dragging-shadow] .browser-tab-background {
    box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.75);
}

browser-tab[dragging][dragging-feedback] {
    transition: var(--base-transition), 1s box-shadow cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

browser-tab[dragging][dragging-feedback="left"] {
    box-shadow: -4px 0px 4px 0px rgba(128, 128, 128, 0.5);
}

@media (prefers-contrast) {

    browser-tab[selected] .browser-tab-background,
    browser-tab:not([selected]):hover .browser-tab-background {
        border: 1px solid color-mix(in srgb, currentColor 75%, transparent 100%);
        width: calc(100% - 1px * 2);
    }

    browser-tab::after,
    browser-tab::before,
    browser-tab:last-of-type:not(:hover):not([selected])::after {
        --height: 0%;
        --color: color-mix(in srgb, currentColor 75%, transparent 100%);
        opacity: 1;
        transition-duration: 0s;
    }
}

@media not (prefers-contrast) {
    browser-tab::before {
        display: none;
    }
}

browser-tab .browser-tab-icons {
    display: flex;
}

:host(browser-tab[layout="tab"]) .toolbar-button {
    --button-size: 26px;
    --size: 12px;
}

browser-tab::part(customizable) {
    gap: 0px;
    overflow: clip;
    padding: 0;
    padding-inline-start: calc(var(--browser-ui-density) * 1.25);
    padding-inline-end: var(--browser-ui-density);
    width: calc(100% - calc(var(--browser-ui-density) * 1.25) * 2);
}