/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@keyframes tabbrowser-tab-open {
    0% {
        max-width: 0px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        max-width: 250px;
        opacity: 1;
    }
}

@keyframes tabbrowser-tab-close {
    0% {
        max-width: 250px;
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        max-width: 0px;
        opacity: 0;
    }
}

.tabbrowser-tab {
    max-width: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    transition: 0.15s background-color;

    &[data-closing="false"] {
        animation: 0.1s tabbrowser-tab-open forwards;
    }

    &[data-closing="true"] {
        animation: 0.1s tabbrowser-tab-close forwards;
    }
}

.tabbrowser-tab[data-active="true"] {
    z-index: 1;
}

.tabbrowser-tab:hover {
    background-color: #76767624;
}

.tabbrowser-tab .tab-background,
.tabbrowser-tab .tab-content {
    height: 100%;
    width: 100%;
}

.tabbrowser-tab .tab-background {
    position: absolute;
    display: flex;
    transition: 0.3s background-color;
}

.tabbrowser-tab[data-active="true"] .tab-background {
    background-color: var(--toolbar-bgcolor);
}

.tabbrowser-tab .tab-content {
    display: flex;
    align-items: center;
    z-index: 1;
    padding-left: 12px;
    padding-right: 10px;
    user-select: none;
    overflow: hidden;
}

.tabbrowser-tab .tab-content {
    .tab-icon-stack {
        width: 26px;
        height: 16px;
        background-size: 16px;
        background-position: left;
        background-repeat: no-repeat;
        background-image: url(chrome://dot/content/skin/icons/default-favicon.svg);
        -moz-context-properties: fill, fill-opacity;
        fill: var(--lwt-tab-text, var(--lwt-text-color));
        max-width: 26px;
        transition: 0.15s max-width;

        &[data-icon-hidden="true"] {
            max-width: 0px;
        }
    }

    .tab-label-container {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        color: var(--lwt-tab-text, var(--lwt-text-color));
        user-select: none;
        overflow: hidden;

        .tab-label {
            white-space: nowrap;
            overflow: hidden;
            mask-image: linear-gradient(
                -90deg,
                transparent 1px,
                var(--lwt-tab-text, var(--lwt-text-color))
                    30px
            );
            width: 100%;
        }
    }

    .tab-close-button {
        display: flex;
        width: 22px;
        height: 22px;
        align-items: center;
        justify-content: center;

        .toolbarbutton-icon {
            width: inherit;
            height: inherit;
            margin: 0;
            padding: 0;
            background-size: 10px;
        }
    }
}

.tabbrowser-tab .tab-content .tab-label-container {
    flex: 1;
}

.tabbrowser-tab[data-active="true"] .tab-background {
    &::before,
    &::after {
        content: "";
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M0 8L0.000396729 4.63277e-05L8 0C3.58173 0 0 3.58173 0 8Z' fill='white'/%3E%3C/svg%3E");
        width: 10px;
        height: 10px;
        position: relative;
        mask-size: cover;
        display: flex;
        top: 0px;
        background-color: var(--toolbar-bgcolor);
        z-index: 0;
        transition: 0.3s background-color;
    }

    &::before {
        left: -10px;
        transform: rotate(90deg);
    }

    &::after {
        right: -10px;
        margin-left: auto;
    }
}

.tabbrowser-tab::after {
    content: "";
    width: 1px;
    background-color: rgba(143, 143, 143, 0.3);
    margin: 8px 0;
}

.tabbrowser-tab[data-active="true"]:last-of-type::after,
.tabbrowser-tab[data-active="true"]:first-of-type::after,
.tabbrowser-tab[data-next-active="true"]::after {
    opacity: 0;
}

// We only want the badge to show when the tab isn't focused
.tabbrowser-tab:not([data-active="true"])[data-badge="true"] {
    .tab-content .tab-icon-stack::after {
        content: "";
        display: flex;
        width: 7px;
        height: 7px;
        background-color: var(--dot-ui-accent-colour);
        border-radius: 12px;
        right: -2px;
        position: absolute;
        top: -2px;
    }
}
