/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@keyframes tabbrowser-tab-open {
    0% {
        max-width: 0px;
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        max-width: 250px;
        opacity: 1;
    }
}

@keyframes tabbrowser-tab-close {
    0% {
        max-width: 250px;
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    100% {
        max-width: 0px;
        opacity: 0;
    }
}

@keyframes tabbrowser-tab-loader {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(315deg);
    }
}

.tabbrowser-tab-wrapper {
    display: contents;
}

.tabbrowser-tab {
    margin: 0;
    max-height: 100%;
    max-width: 250px;
    display: flex;
    width: 250px;
    height: 100%;
    min-width: 76px;
    position: relative;
    align-items: center;
    animation: 0.1s tabbrowser-tab-open forwards;

    &[data-active="true"] {
        .tab-background {
            background-color: var(--toolbar-bgcolor);
        }
    }

    &:not([data-active="true"]):hover {
        .tab-background {
            background-color: rgba(128, 128, 128, 0.2);
        }

        .tab-content {
            mask-image: linear-gradient(to left, transparent, black 3em);
        }
    }

    .tab-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: 0.2s background-color;
    }

    .tab-content {
        display: flex;
        align-items: center;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        width: 100%;
        margin-inline-start: 12px;
        color: var(--lwt-tab-text, var(--lwt-text-color));
        mask-image: linear-gradient(to left, transparent, black 2em);
    }
}

.tab-content {
    .tab-icon-container {
        display: flex;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
        opacity: 1;
        margin-left: 0px;
        transition: 0.2s margin-left 0s, 0.2s opacity 0.2s;

        --tab-loading-icon: url(chrome://dot/content/skin/icons/tab/loading.svg);

        &:not(.loading).hidden {
            margin-left: -24px;
            opacity: 0;
            transition: 0.2s margin-left 0.2s, 0.2s opacity 0s;
        }

        &.loading > .tab-favicon {
            background-image: var(--tab-loading-icon) !important;
            fill: currentColor;
            fill-opacity: 0.5;

            &[data-loading-stage="progress"] {
                fill: var(--dot-ui-accent-colour);
                fill-opacity: 1;
            }
        }

        .tab-favicon {
            width: 16px;
            height: 16px;
            min-width: 16px;
            min-height: 16px;
            background-size: cover;
            background-repeat: no-repeat;
            -moz-context-properties: fill, fill-opacity;
            fill: currentColor;
    
        }
    }

    .tab-title {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}

.tab-actions {
    display: flex;
    gap: 4px;
    margin-inline-end: 8px;

    .tab-action-button {
        width: 24px;
        height: 24px;

        .toolbarbutton-icon {
            margin: 0 !important;
            padding: 0 !important;
            background-size: 10px !important;
        }
    }
}

@include useReducedMotion {
    .tab-icon-container {
        transition: none !important;

        &.loading > .tab-favicon {
            --tab-loading-icon: url(chrome://dot/content/skin/icons/tab/loading-static.svg);
        }
    }
}