/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Toolbar Button */

.toolbarbutton-1 {
    display: flex;
    align-items: center;

    width: max-content;
    height: max-content;

    padding: 8px;
    gap: 8px;
}

/* Toolbar Button Icon */

.toolbarbutton-1 .toolbarbutton-icon {
    display: none;
}

.toolbarbutton-1[display="icons"] .toolbarbutton-icon,
.toolbarbutton-1[display="icons_and_text"] .toolbarbutton-icon {
    display: flex;

    width: 16px;
    height: 16px;

    background-image: var(--toolbar-button-icon);
    -moz-context-properties: fill;
    fill: var(--toolbarbutton-icon-fill);
}

/* Toolbar Button Label */

.toolbarbutton-1 .toolbarbutton-text {
    display: none;
}

.toolbarbutton-1[display="text"] .toolbarbutton-text,
.toolbarbutton-1[display="icons_beside_text"] .toolbarbutton-text {
    display: flex;
}