#new-tab-button.new-tab-navigation-bar-variant {
    transition: 0.3s margin-left, 0.15s opacity, 0.1s;
    opacity: 1;
    pointer-events: all;
}

#browser.tabs-visible #new-tab-button.new-tab-navigation-bar-variant {
    margin-left: calc(-40px / 2 * 1.3);
    opacity: 0;
    pointer-events: none;
}

#new-tab-button.new-tab-tab-bar-variant {
    transition: 0.15s margin-left 0.05s, 0.15s opacity 0.1s;
    margin-left: calc(-40px / 2 * 1.3);
    opacity: 0;
    pointer-events: none;
}

#browser.tabs-visible #new-tab-button.new-tab-tab-bar-variant {
    margin-left: 6px;
    opacity: 1;
    pointer-events: all;
}