#new-tab-button {
    position: absolute;
    left: 4px;
    z-index: 20;

    &.toolbarbutton-icon {
        // We do this so it fits with the tab's corners
        border-radius: calc(var(--chrome-roundness) - calc(var(--chrome-roundness) / 4));
    }
}