/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Base styles */

area-panel {
    display: none;

    width: var(--width, auto);
    height: var(--height, auto);

    justify-content: center;
}

/* Visible */

area-panel[visible="true"] {
    display: flex;
}

/* Orientation */

area-panel[orientation="horizontal"] {
    flex-direction: row;
}

area-panel[orientation="vertical"] {
    flex-direction: column;
}

/* Contexts */

area-panel[context="frame"] {
    flex: 1 1 0px;
}

area-panel[context="panel"] {
    padding-inline: 8px;
}