.settings-themepicker-promo {
    padding: 0px 28px;
    height: 72px;
    background-color: color-mix(in srgb, var(--dot-ui-accent-colour) 10%, transparent);
    color: var(--dot-ui-accent-colour);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    max-width: calc(202px - 24px * 2);
    width: 202px;
    cursor: pointer;
    transition: 0.3s background-color, 0.3s color;

    .settings-themepicker-promo-label {
        font-size: 12px;
        font-weight: 500;
        max-width: 110px;
        user-select: none;
        cursor: pointer;
    }

    .settings-themepicker-promo-image {
        width: 24px;
        height: 24px;
        background-size: cover;
        -moz-context-properties: fill;
        fill: currentColor;
    }
}