/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/content/widgets/browser-toolbar-button-base.css");

:host(.browser-panel-container) .toolbar-button {
    display: flex;

    width: 100%;
    height: var(--panel-button-height, 32px);

    padding: 0px 10px;

    --button-default-color: transparent;

    & .toolbar-button-container {
        display: flex;

        gap: 10px;
        align-items: center;

        flex: 1;
    }
}