/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.browser-panel-container {
    display: flex;
    flex-direction: column;

    width: auto;
    height: auto;

    min-width: 16px;
    min-height: 16px;

    padding: 0px 8px;
    margin: var(--panel-shadow-margin);

    background-color: var(--arrowpanel-background);

    border: 1px solid var(--arrowpanel-border-color);
    border-radius: 8px;

    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132), 0 .6px 1.8px 0 rgba(0, 0, 0, .108);

    overflow: clip;
}

:host(.browser-panel-container) .browser-panel-header {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 14px 0px;

    border-bottom: 1px solid color-mix(in srgb, currentColor 15%, transparent 100%);

    & .browser-panel-header-title {
        font-weight: bold;
    }
}

:host(.browser-panel-container) .browser-panel-content {
    display: flex;

    justify-content: center;
    align-items: center;
}