/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.multipanel-area {
    padding: 0;
    width: fit-content;
    height: fit-content;
}

:host(.multipanel-area) .customizable-container {
    display: flex;

    max-width: var(--current-panel-width);
    max-height: var(--current-panel-height, 300px);
    min-width: var(--current-panel-width);
    min-height: var(--current-panel-height, 300px);

    overflow: hidden;

    scroll-behavior: smooth;

    transition: 0.3s all cubic-bezier(0.19, 1, 0.22, 1);
}

:host(.multipanel-area) .multipanel-page {
    position: absolute;

    height: fit-content;
    width: max-content;

    transform: translateX(calc(calc(var(--scroll-x) - var(--panel-x)) / -1));
}

:host(.multipanel-area) .multipanel-page[opening],
:host(.multipanel-area) .multipanel-page[closing] {
    pointer-events: none;
    background-color: rgba(255, 0, 0, 0.241);
}