/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

panel.browser-panel {
    --panel-shadow-margin: 14px;

    margin: calc(-1 * var(--panel-shadow-margin) + 1px);

    -moz-window-dragging: no-drag;

    opacity: 1;
}

panel.browser-panel[animate="true"] {
    transition: 0.3s opacity cubic-bezier(0.19, 1, 0.22, 1);

    &:not([open]) {
        transition-duration: 0.1s;
        opacity: 0;
    }
}