/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/skin/input.css");
@import url("chrome://dot/content/widgets/browser-panel-button.css");

::slotted(menuitem),
::slotted(menu) {
    --button-default-color: transparent !important;

    padding: 6px 30px;
}

::slotted(menu) {
    background-image: url(chrome://dot/skin/chevron-right.svg);

    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;

    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

::slotted(menuitem[type=checkbox][checked]) {
    background-image: url(chrome://dot/skin/check.svg);

    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;

    background-repeat: no-repeat;
    background-position: 10px center;
}

::slotted(menuseparator) {
    width: calc(100% - 4px * 2);
    height: 1px;
    margin-block: 2px;
    margin-inline: 4px;
    background: linear-gradient(to top, var(--arrowpanel-border-color), var(--arrowpanel-border-color)), color-mix(in srgb, currentColor 15%, transparent 100%);
}