<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Security-Policy" content="default-src resource: chrome:; img-src resource: chrome:; object-src 'none';">
        <meta name="color-scheme" content="light dark">
        <title>Settings</title>
        <link rel="icon" type="image/png" href="chrome://dot/skin/settings.svg" />
        <link rel="localization" href="branding/brand.ftl" />
        <link rel="localization" href="dot/newtab.ftl" />
        <link rel="stylesheet" href="chrome://dot/content/settings/settings.css" />
    </head>
    <body>
        <h1>Settings</h1>

        <script src="resource://dot/components/settings/settings.js"></script>
    </body>
</html>