.ui-popup-dialog {
    position: absolute;
    z-index: 1348755675;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 0 8px;
    align-items: center;
    user-select: none;
    min-width: 400px;
    background-color: color-mix(in srgb, var(--arrowpanel-background) 90%, transparent 100%);
    backdrop-filter: blur(12px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300' fill='none'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' stitchTiles='stitch' baseFrequency='0.75'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='300' height='300' style=''%3E%3C/rect%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.5'%3E%3C/rect%3E%3C/svg%3E");
    background-blend-mode: overlay;
    box-shadow: 
        0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 
        0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108), 
        0px 0px 0px 1px var(--arrowpanel-border-color);

    .ui-popup-dialog-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 46px;
        border-bottom: 1px solid var(--arrowpanel-border-color);
    }
}

.ui-popup-dialog-header .ui-popup-dialog-header-title {
    font-weight: 600;
    margin: 0;
    width: 100%;
    font-size: inherit;
    display: flex;
    justify-content: center;
}

.ui-popup-dialog-item {
    width: calc(100% - 14px * 2);
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0px 14px;
    align-items: center;

    .ui-popup-dialog-item-icon {
        width: 14px;
        height: 14px;
        background-size: cover;
        -moz-context-properties: fill, fill-opacity;
        fill: currentColor;
        margin-inline-end: 12px;
    }

    .ui-popup-dialog-item-titles {
        height: 100%;
        display: flex;
        align-items: center;

        .ui-popup-dialog-item-title {
            font-size: inherit;
            font-weight: 500;
            margin: 0;
        }
    }
}