.widget-searchbox {
    display: flex;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    align-items: center;
    transition: 0.3s background-color;

    &:hover,
    &:focus-within {
        background-color: rgba(255, 255, 255, 0.125);
    }

    .widget-searchbox-icon {
        mask-image: url(chrome://dot/content/skin/icons/search.svg);
        mask-size: 16px;
        width: 16px;
        height: 16px;
        opacity: 0.6;
        padding: 0px 18px;
        background-color: white;
        mask-repeat: no-repeat;
        mask-position: center;
    }

    .widget-searchbox-input {
        background-color: transparent;
        appearance: none;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        color: white;
        caret-color: white;
        font-size: 16px;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
