/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
  
.urlbarView-row-inner, .urlbarView-no-wrap {
    align-items: center;
    justify-content: space-between;
    margin-inline-start: 3px;
    border-radius: var(--toolbarbutton-border-radius);
}
  
.urlbarView-title {
    margin-inline-start: 6px;
}
  
#urlbar .search-one-offs:not([hidden]) {
    padding-block: 10px 16px !important;
}
  
.urlbarView-favicon {
    border-radius: 2px;
}
  
.search-one-offs, #urlbar[open] > .urlbarView > .urlbarView-body-outer > .urlbarView-body-inner  {
    border-top: none !important;
}
  