/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

::selection {
    background-color: var(--dot-accent-color) !important;
    color: var(--arrowpanel-background) !important;
}

.panel-header {
    border-bottom: none !important;
    height: 46px;
    width: 310px;
}

.panel-header > label {
    font-weight: 600;
    margin-block: 0px !important;
    margin-inline: 0px !important;
    margin: 0 !important;
    font-size: 15px;
}

#editBookmarkPanelImage {
    border-radius: 0px !important;
    height: 155px !important;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), -moz-element(#editBookmarkPanelImageCanvas) !important;
    margin: 0px !important;
    transition: none !important;
    background-color: #151515;
}

#editBookmarkPanelInfoArea {
    margin: 0px !important;
    width: 310px;
}

#editBookmarkPanelContent {
    width: 310px;
}

#editBookmarkPanelFaviconContainer {
    align-items: center;
    position: absolute;
    margin: 18px;
}

#editBookmarkPanelFavicon[src] {
    width: 24px !important;
    height: 24px !important;
    padding: 5px !important;
    background-color: white !important;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25) !important;
    border-radius: 100% !important;
    margin-top: 0 !important;
    margin-inline-start: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 !important;
}

#editBookmarkPanelRows,
#editBookmarkPanelBottomContent {
    padding: 20px !important;
}

.panel-footer > button {
    border-top: none !important;
    padding: 0;
    border: 2px solid var(--dot-accent-color) !important;
    padding: 10px 38px !important;
    color: var(--dot-accent-color) !important;
    font-weight: 500;
    border-radius: 6px;
}

.panel-footer > button:not([disabled])[default]:hover {
    background-color: var(--dot-accent-color) !important;
    background-image: linear-gradient(#00000026 0%, #00000026 100%);
    border: 2px solid transparent !important;
}

.panel-footer > button:not([disabled])[default]:active {
    background-color: var(--dot-accent-color) !important;
    background-image: linear-gradient(#0000003b 0%, #0000003b 100%);
    border: 2px solid transparent !important;
}

#editBookmarkPanelBottomButtons {
    padding: 16px;
    gap: 16px;
    background-color: transparent;
    border-top: 1px solid var(--arrowpanel-border-color);
}   

.expander-up, .expander-down {
    min-width: 0;
    padding: 0px !important;
    padding-inline-start: 0 !important;
    appearance: none !important;
    width: 36px;
    height: 36px;
    background-color: transparent;
    margin: 0;
    border-radius: 0px calc(var(--toolbarbutton-border-radius) + 4px) calc(var(--toolbarbutton-border-radius) + 4px) 0px;
}

.expander-up, .expander-down > .button-box {
    appearance: none !important;
}

.expander-up, .expander-down > .button-box > .button-icon {
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="4" viewBox="0 0 8 4" fill="none"> <path d="M3.86668 3.82419L0.432503 0.427751C0.273671 0.270663 0.384908 0 0.608301 0H7.40118C7.62324 0 7.73508 0.267896 7.57895 0.425786L4.22024 3.82223C4.12315 3.92041 3.96486 3.92129 3.86668 3.82419Z" fill="black" fill-opacity="0.8"/> </svg>');
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--arrowpanel-color);
    width: 8px;
    height: 4px;
    mask-position: center;
    margin-left: 2px;
}

#editBookmarkPanelContent label {
    font-weight: 500;
    color: var(--arrowpanel-color);
    opacity: .8;
    font-size: 14px;
    margin-bottom: 10px;
}

html|input, #editBMPanel_folderRow > hbox {
    appearance: none !important;
    border: none;
    outline: none;
    height: 36px;
    border-radius: calc(var(--toolbarbutton-border-radius) + 4px);
    border: 1px solid var(--arrowpanel-border-color);
    background-color: transparent;
    color: var(--arrowpanel-color);
    padding-left: 12px;
}

#editBMPanel_folderRow > hbox {
    margin-inline-start: 4px;
}

checkbox {
    appearance: none !important;
}

checkbox > .checkbox-check {
    appearance: none !important;
    background-color: transparent;
    border: 2px solid var(--arrowpanel-color);
    fill: transparent;
    opacity: 0.4;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    -moz-context-properties: fill;
    background-position: center;
    background-repeat: no-repeat;
}

checkbox:hover > .checkbox-check {
    opacity: 0.6;
}

checkbox:active > .checkbox-check {
    opacity: 0.9;
}

checkbox > .checkbox-check[checked="true"] {
    background-image: url(chrome://global/skin/icons/check.svg);
    background-color: var(--dot-accent-color) !important;
    fill: white !important;
    opacity: 1 !important;
    border: none !important;
}

checkbox > .checkbox-label-box > .checkbox-label {
    margin-inline-start: 8px !important;
}

#editBookmarkPanelRows > vbox {
    margin-bottom: 1.4em !important;
}

#cfrMessageContainer, #editBookmarkPanelInfoButton {
    display: none !important;
}

#editBookmarkPanelTitle {
    margin-inline-start: 0px !important;
}

menulist {
    appearance: none !important;
    color: var(--arrowpanel-color) !important;
    margin: 0 !important;
}

#editBookmarkPanelRows {
    padding-bottom: 0px !important;
}

#editBookmarkPanelBottomContent {
    padding-top: 0px !important;
}