/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include panelui.inc.css
%include addressbar.inc.css
%include sidebars.inc.css

%include identity_popup.inc.css
%include bookmark_popup.inc.css

%include personal_toolbar.inc.css

%include components/checkbox.inc.css
%include components/input.inc.css

:root {
    --backbutton-hover-background: var(--toolbarbutton-hover-background) !important;
    --tab-min-width: 104px !important;
    --urlbar-toolbar-height: 42px !important;
    --inline-tab-padding: 12px !important;
    --tab-min-height: 38px !important;
    --panel-separator-color: var(--arrowpanel-border-color) !important;
    --dot-accent-color: var(--lwt-toolbarbutton-icon-fill-attention, #1662D3) !important;
    --toolbarbutton-icon-fill-attention: var(--dot-accent-color) !important;
}
  
:root[lwt-popup-brighttext] panel,
toolbar[brighttext] {
    --dot-accent-color: var(--lwt-toolbarbutton-icon-fill-attention, #3c89fd) !important;
}

#urlbar {
    --urlbar-height: 32px !important;
}

#titlebar, #PersonalToolbar {
    -moz-box-ordinal-group: 2 !important;
}

#nav-bar {
    -moz-box-ordinal-group: 1 !important;
    height: 42px !important;
    box-shadow: none !important;
}

.tab-content > .tab-close-button {
    border-radius: 4px !important;
}

.tab-content > .tab-close-button:hover {
    background-color: var(--toolbarbutton-hover-background);
}

.tab-content > .tab-close-button:active {
    background-color: var(--toolbarbutton-active-background) !important;
}

.tabbrowser-tab .tab-stack .tab-background, .tabbrowser-tab {
    border-radius: 0px !important;
}

.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected="true"], [multiselected]) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.tabbrowser-tab .tab-stack {
    margin-top: 0px !important;
}

.tabbrowser-tab .tab-stack .tab-background .tab-line {
    height: 0px !important;
}

.tab-background[multiselected="true"], .tab-background[selected="true"] {
    border: 0px solid transparent;
}

.tabbrowser-tab[fadein="true"] {
    max-width: 250px !important;
}

.tabbrowser-tab[selected="true"]::after {
    opacity: 0 !important;
}

.tabbrowser-tab:hover::after {
    opacity: 0 !important;
}

.tabbrowser-tab::after {
    margin-top: 9px !important;
    margin-bottom: 9px !important;
}

.titlebar-spacer[type="pre-tabs"] {
    border-inline-color: transparent !important;
    display: none !important;
}

#urlbar[breakout][breakout-extend] > #urlbar-background {
    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18) !important;
}

#urlbar > #urlbar-background {
    border-color: var(--lwt-toolbar-field-background-color) !important;
}

#urlbar:not([focused="true"]) > #urlbar-background {
    box-shadow: none !important;
}

#statuspanel-label {
    background-color: var(--toolbar-bgcolor) !important;
    border-color: var(--chrome-content-separator-color) !important;
    color: var(--toolbar-color) !important;
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
}

.panel-arrowcontent {
    border-radius: 6px;
}

.subviewbutton[shortcut]::after {
    opacity: 0.7;
}

#urlbar[focused="true"] > #urlbar-input-container > #identity-box > #identity-icon-box,
#urlbar[focused="true"] > #urlbar-input-container > #identity-box > #identity-permission-box, 
#urlbar[focused="true"] > #urlbar-input-container > #tracking-protection-icon-container {
    border-radius: 4px;
}

#urlbar[focused="true"] > #urlbar-input-container > #page-action-buttons > .urlbar-icon-wrapper, 
#urlbar[focused="true"] > #urlbar-input-container > #page-action-buttons > .urlbar-icon,
#urlbar[focused="true"] .urlbar-icon {
    border-radius: 4px;
}

#urlbar .searchbar-engine-one-off-item {
    border-radius: 4px;
}

#identity-icon-label {
    padding-inline-start: 8px !important;
}

#identity-icon {
    margin-inline-start: 2px !important;
}

#tracking-protection-icon-container {
    padding-inline: 8px !important;
    display: none !important;
}

notification[type], notification {
    background-color: var(--toolbar-bgcolor) !important;
    border-color: var(--chrome-content-separator-color) !important;
    padding: 6px 0 6px !important;
    padding-inline-start: 14px !important;
}

tabmodalprompt {
    height: calc(100% + 20px);
    margin-top: -20px;
    background-color: transparent !important;
}

tabmodalprompt:not([hidden]) {
    grid-template-rows: 0fr [dialog-start] auto [dialog-end] 2fr !important;
}

.paymentDialogContainerFrame, .tabmodalprompt-mainContainer {
    color: -moz-fieldText;
    border-radius: 6px;
    background-color: var(--arrowpanel-background);
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108);
    border: none !important;
}

#back-button {
    padding-inline-start: 8px !important;
    --backbutton-hover-background: var(--toolbarbutton-hover-background) !important;
}

#back-button > .toolbarbutton-icon {
    width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    height: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
    padding: var(--toolbarbutton-inner-padding) !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
}

:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon,
#back-button[disabled] > .toolbarbutton-icon,
#back-button[open] > .toolbarbutton-icon {
    background-color: transparent !important;
}

#back-button > menupopup {
    margin-top: unset !important;
}

.tab-icon-image[src="chrome://branding/content/icon32.png"] {
    display: none !important;
}

#identity-box.readerIdentity > #identity-icon-box > #identity-icon {
    list-style-image: url(chrome://browser/skin/readerMode.svg);
    fill: unset;
}

#fxa-toolbar-menu-button > .toolbarbutton-badge-stack {
    padding: 0 !important;
    width: calc(var(--toolbarbutton-inner-padding) * 4.66666667) !important;
    height: calc(var(--toolbarbutton-inner-padding) * 4.66666667) !important;
}

#fxa-toolbar-menu-button > .toolbarbutton-badge-stack > vbox > #fxa-avatar-image {
    width: calc(var(--toolbarbutton-inner-padding) * 3.33335) !important;
    height: calc(var(--toolbarbutton-inner-padding) * 3.33335) !important;
    min-width: calc(var(--toolbarbutton-inner-padding) * 3.33335) !important;
    min-height: calc(var(--toolbarbutton-inner-padding) * 3.33335) !important;
    margin-top: calc(var(--toolbarbutton-inner-padding) / 1.5) !important;
}

.tabbrowser-tab > .tab-stack > .tab-background > .tab-bottom-line {
    margin-bottom: 28px !important;
    height: 2px !important;
    background-color: var(--identity-tab-color) !important;
    opacity: 1;
    margin: 0 20px;
}

#context-pocket,
#context-savelinktopocket,
#appMenu-library-pocket-button {
display: none !important;
}

.tabbrowser-tab::after,
.tabbrowser-tab::before {
    opacity: 0.3 !important;
}

#tabs-newtab-button {
    padding-left: 6px !important;
}

.tabbrowser-tab > .tab-stack > .tab-background::after,
.tabbrowser-tab > .tab-stack > .tab-background::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M0 8L0.000396729 4.63277e-05L8 0C3.58173 0 0 3.58173 0 8Z' fill='white'/%3E%3C/svg%3E");
  position: absolute;
  width: var(--size);
  height: var(--size);
  display: block;
  max-width: var(--size);
  max-height: var(--size);
  top: 0;
  mask-size: cover;
  --size: 8px;
  pointer-events: none;
  background-color: transparent;
}

.tabbrowser-tab[selected="true"] > .tab-stack > .tab-background::after,
.tabbrowser-tab[selected="true"] > .tab-stack > .tab-background::before {
  background-color: var(--lwt-selected-tab-background-color, var(--toolbar-bgcolor)) !important;
}

#.tabbrowser-tab:hover:not([last-visible-tab="true"]) > .tab-stack > .tab-background::after,
#.tabbrowser-tab:hover:not([last-visible-tab="true"]) > .tab-stack > .tab-background::before {
#  background-color: rgba(0, 0, 0, 0.05);
#}

.tabbrowser-tab > .tab-stack > .tab-background::after {
    right: calc(var(--size) - var(--size) - var(--size));
}

.tabbrowser-tab > .tab-stack > .tab-background::before {
    left: calc(var(--size) - var(--size) - var(--size));
    transform: scale(-1) rotate(-90deg);
}

.tabbrowser-tab {
    margin: 0 1px !important;
}

.tabbrowser-tab .tab-stack {
    margin-top: 6px;
}
   
:root:not([uidensity=compact], [chromehidden~="toolbar"]) #PanelUI-button {
  border-image: linear-gradient( transparent 12px, var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.1)) 12px, var(--lwt-toolbar-vertical-separator, rgba(0,0,0,.1)) calc(100% - 12px), transparent calc(100% - 12px) ) !important;
}


#urlbar-background,
#searchbar {
  border-radius: 8px !important;
}

#identity-box[pageproxystate="valid"].chromeUI #identity-icon-label,
.urlbar-label {
  opacity: 0.7 !important;
}

.urlbar-label {
  font-weight: 500;
}

.identity-box-button:hover:not([open="true"]), #tracking-protection-icon-container:hover:not([open="true"]) {
    box-shadow: none !important;
}

.tab-label-container[pinned] {
    display: none !important;
}

.identity-box-button {
  padding-inline: 10px !important;
}

.titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

#identity-box {
    margin-inline-start: 0px !important;
}

#shield_privacy_dothq_co-browser-action {
    list-style-image: url(chrome://browser/skin/tracking-protection.svg) !important;
}

#pageAction-panel-qr_dothq_co > .toolbarbutton-icon, 
#pageAction-urlbar-qr_dothq_co {
    list-style-image: url("chrome://browser/skin/qr-code.svg") !important;
}

#PersonalToolbar {
    -moz-box-ordinal-group: 1 !important;
}