/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

panel::part(arrowcontent) {
	border: none !important;
	border-radius: 8px !important;
}

toolbarseparator {
    margin: 2px 0 !important;
}

.panel-subview-body > .subviewbutton,
.panel-subview-body > toolbaritem > toolbarbutton {
    padding: 4px 16px !important;
    min-height: 30px !important;
}

.panel-header > .subviewbutton-back {
    border-radius: 6px;
}

.subviewbutton[shortcut]::after {
	opacity: 0.7;
}

menupopup {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25) !important;
    padding: 28px !important;
    margin: -28px !important;
    background-color: transparent !important;
    border-radius: 6px !important;
    appearance: none !important;
}

.menupopup-arrowscrollbox {
    border-radius: 6px !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25) !important;
    padding: 6px 0 !important;
    background-color: var(--arrowpanel-background) !important;
}

menupopup > menu, menuitem, menucaption {
    min-height: 36px !important;
    appearance: none;
    padding: 0 16px;
    color: var(--arrowpanel-color);
}

menuseparator {
    margin: 4px 0px;
    appearance: none !important;
    width: 100%;
    height: 1px;
    background-color: var(--arrowpanel-border-color);
}

menu[_moz-menuactive="true"], menuitem[_moz-menuactive="true"] {
    background-color: var(--arrowpanel-dimmed) !important;
    color: var(--arrowpanel-color);
}

menu[disabled="true"], menuitem[disabled="true"], menucaption[disabled="true"] {
    background-color: transparent !important;
    color: var(--arrowpanel-dimmed-even-further) !important;
}

#context-navigation {
    margin: 0px 6px;
    padding-bottom: 4px;
}

#context-navigation > * {
    border-radius: 6px;
    width: 32px;
    height: 32px;
    min-width: 42px;
    min-height: 42px !important;
    appearance: none;
}

.menu-right {
	width: 16px !important;
	height: 16px !important;
	appearance: none !important;
}

.menu-right > image {
	-moz-context-properties: fill, fill-opacity !important;
	background-image: url(chrome://browser/skin/customizableui/menu-arrow.svg) !important;
	fill: currentColor !important;
	fill-opacity: 0.6 !important;
	float: inline-end !important;
	width: 12px !important;
	height: 12px !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

menuitem[type="checkbox"] {
    appearance: none !important;
}

#screenshots_mozilla_org-menuitem-_create-screenshot > .menu-iconic-left {
    color: --arrowpanel-color !important;
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
    fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.panel-subview-body {
    padding: 8px 0;
}
  
.subviewbutton > .toolbarbutton-text {
    padding-inline-start: 28px;
}
  
.subviewbutton[shortcut]::after, .subviewbutton[shortcut]::after, .PanelUI-subView .subviewbutton-nav::after {
    margin-inline-start: -18px;
}
  
.addon-banner-item > .toolbarbutton-text, .subviewbutton-iconic > .toolbarbutton-text, .subviewbutton[image] > .toolbarbutton-text, .subviewbutton[targetURI] > .toolbarbutton-text, .subviewbutton.restoreallitem > .toolbarbutton-text, .subviewbutton.bookmark-item > .toolbarbutton-text, .subviewbutton[checked="true"] > .toolbarbutton-text {
    padding-inline-start: 12px;
}
  
.panel-subview-body > .subviewbutton, .panel-subview-body > toolbaritem > toolbarbutton {
    padding: 6px 18px !important;
    min-height: 28px !important;
    margin: 2px 0;
}
  
toolbarseparator {
    margin: 4px 0 !important;
}

.menu-iconic-left {
  padding-inline-end: 10px !important;
}

.menu-text {
  margin-inline-start: 28px !important;
}

menu[disabled="true"], menuitem[disabled="true"], menucaption[disabled="true"] {
    fill: var(--arrowpanel-dimmed-even-further) !important;
}
  
.menu-iconic-icon {
    -moz-context-properties: fill, fill-opacity;
    fill: currentColor;
    fill-opacity: context-fill-opacity;
}

.menu-iconic-text {
    margin-inline-end: 4px !important;
}

.panel-subview-body > scrollbar[orient="vertical"], scrollbar[orient="vertical"] > slider {
    background-color: var(--arrowpanel-background) !important;
    appearance: none !important;
}

.panel-subview-body > scrollbar[orient="vertical"] > slider > thumb {
    appearance: none !important;
    border-radius: 100px !important;
    border: 4px solid var(--arrowpanel-background) !important;
    background-color: #7b7b7bc4;
}

.panel-subview-body > scrollbar[orient="vertical"] > slider > thumb:hover {
    background-color: #7d7d7d;
}

#context-sendpagetodevice::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    margin-right: -18px;
    mask-image: url(chrome://browser/skin/send-to-device.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: currentColor;
}

#fill-login::before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    margin-right: -18px;
    mask-image: url(chrome://browser/skin/login.svg);
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: currentColor;
}

menupopup {
    min-width: 325px !important;
}