/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.sidebar-splitter {
    background-color: transparent !important;
    border: none !important;
    position: absolute;

    /* Make sure the -6px is the same as the width but positive. */
    width: 6px !important;
    transform: translateX(calc(-6px / 2));
    margin-right: -6px;

    transition: 0.15s all ease-out 0s;
    opacity: 0.8;
    z-index: 1;
}
  
#sidebar-box {
    border-right: 1px solid var(--sidebar-border-color);
    margin-left: 0;
    transition: margin-left 170ms cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
  
#sidebar-splitter:hover {
    background-color: var(--sidebar-highlight-color, var(--cfr-active-color)) !important;
    transition-delay: 0.3s;
}

#sidebar-iconbar {
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    background-color: var(--lwt-accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: margin-left 170ms ease-out;
    position: relative;
}

#sidebar-iconbar .sidebar-iconbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: currentColor;
    fill: currentColor;
}

#sidebar {
    height: 100%;
}

#sidebar-header {
    font-size: 16px !important;
    padding: 20px 26px !important;
    height: 72px;
    border: none !important;
}

#sidebar-switcher-target {
    appearance: none;
    color: inherit;
    border: 1px solid transparent;
    padding: 0 !important;
    pointer-events: none;
    outline: none !important;
    border: none;
}

#sidebar-title {
    padding-inline: 0 !important;
    font-weight: 500;
    line-height: 18px;
}

#sidebar-switcher-arrow {
    display: none;
}

#sidebar-icon {
  display: none;
}

.sidebar-iconbar-item {
	appearance: none;
	width: 48px;
	height: 48px;
	padding: 0;
}

.sidebar-iconbar-item:hover, .sidebar-iconbar-item:active {
    color: inherit !important;
    opacity: 1 !important;
}

.sidebar-iconbar-item:hover {
    background-color: var(--toolbarbutton-hover-background);
}

.sidebar-iconbar-item:active {
    background-color: var(--toolbarbutton-active-background);
}

.sidebar-iconbar-item .toolbarbutton-text {
    display: none;
}

.sidebar-iconbar-item[checked="true"] {
    background-color: var(--toolbar-bgcolor);
    box-shadow: 
        inset 0px 8px 0px var(--toolbar-bgcolor), 
        inset 0px -8px 0px var(--toolbar-bgcolor), 
        inset 2px 0px 0px var(--toolbar-bgcolor), 
        inset 4px 0px 0px var(--sidebar-highlight-color, var(--cfr-active-color));
}

.sidebar-iconbar-item[checked="true"] .toolbarbutton-icon {
    fill: var(--sidebar-highlight-color, var(--cfr-active-color)) !important;
}

.sidebar-iconbar-item.sidebar-iconbar-item-ext .toolbarbutton-icon {
    width: 16px;
    height: 16px;
    color: inherit !important;
    -moz-context-properties: fill, fill-opacity;
    fill: var(--lwt-toolbarbutton-icon-fill, currentColor);
    fill-opacity: var(--toolbarbutton-icon-fill-opacity);
}

.sidebar-iconbar-item.sidebar-iconbar-item-ext .toolbarbutton-icon {
    list-style-image: var(--webextension-menuitem-image, inherit);
}

@media (min-resolution: 1.1dppx) {
    .sidebar-iconbar-item.sidebar-iconbar-item-ext .toolbarbutton-icon {
        list-style-image: var(--webextension-menuitem-image-2x, inherit);
    }
}

.sidebar-iconbar-item[checked="true"]::after,
.sidebar-iconbar-item[checked="true"]::before {
	content: "";
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M0 8L0.000396729 4.63277e-05L8 0C3.58173 0 0 3.58173 0 8Z' fill='white'/%3E%3C/svg%3E");
	background-color: var(--toolbar-bgcolor);
	width: 8px;
	height: 8px;
	position: absolute;
	display: flex;
	margin-left: calc(48px - 8px);
	mask-size: cover;
}

.sidebar-iconbar-item[checked="true"]::after {
    margin-top: calc(48px / 2);
    transform: rotate(90deg);
}

.sidebar-iconbar-item[checked="true"]::before {
    margin-top: calc(-48px / 2 - 8px);
    transform: rotate(180deg);
}

.sidebar-iconbar-container:first-child::before {
    display: none;
}

#sidebar-iconbar > .sidebar-iconbar-container:first-of-type > :first-child::before {
    display: none;
}

#sidebar-header .close-icon {
    border-radius: var(--toolbarbutton-border-radius);
}

#sidebar-header .close-icon:hover {
    background-color: var(--toolbarbutton-hover-background);
}

#sidebar-header .close-icon:active {
    background-color: var(--toolbarbutton-active-background);
}

#sidebar-switcher-accounts .toolbarbutton-icon {
    width: 16px;
    height: 16px;
    -moz-context-properties: fill;
}

:root:not([fxastatus="signedin"]) #sidebar-switcher-accounts .toolbarbutton-icon {
    list-style-image: url(chrome://browser/skin/fxa/avatar.svg);
}

:root[fxastatus="signedin"] #sidebar-switcher-accounts .toolbarbutton-icon {
    list-style-image: var(--avatar-image-url);
}

#sidebar-switcher-settings {
    list-style-image: url(chrome://global/skin/icons/settings.svg);
    fill: currentColor;
    -moz-context-properties: fill;
}

:root[inDOMFullscreen="true"] #sidebar-iconbar {
    margin-left: -48px;
}