.launcher-result-group {
    display: flex;
    flex-direction: column;

    .launcher-result-group-heading {
        font-size: 14px;
        margin: 0;
        font-weight: 400;
        opacity: 0.75;
        margin-bottom: 1rem;
    }

    .launcher-result-group-contents {
        display: flex;
        gap: 2px;
        flex-direction: column;
        z-index: 1;
    }
}