.launcher-result-group {
    display: flex;
    flex-direction: column;

    .launcher-result-group-heading {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
        opacity: 0.5;
        margin-bottom: 1rem;
        padding: 0 18px;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            width: 14px;
            height: 14px;
            display: flex;
            margin-inline-end: 8px;
            background-image: var(--group-icon);
            background-size: cover;
        }
    }

    .launcher-result-group-contents {
        display: flex;
        gap: 2px;
        flex-direction: column;
        z-index: 1;
    }
}