/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#identity-icon-box {
    height: 100%;
}

#identity-icon-box .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/info.svg);
}

#identity-icon-box.search .searchbar-button-icon {
    width: 12px;
    height: 12px;
    background-image: url(chrome://dot/content/skin/icons/identity/search.svg);
}

#identity-icon-box.warning .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/warning.svg);
}

#identity-icon-box.file .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/file.svg);
}

#identity-icon-box.http {
    background-color: var(--error-text-color);
    color: white;

    .searchbar-button-icon {
        background-image: url(chrome://dot/content/skin/icons/identity/http.svg);
    }
}

#identity-icon-box.https-unsecure .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/https-unsecure.svg);
}

#identity-icon-box.https .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/https.svg);
}

#identity-icon-box.extension .searchbar-button-icon {
    background-image: url(chrome://dot/content/skin/icons/identity/extension.svg);
}

#identity-icon-box.built-in {
    padding: 0px 12px;

    .searchbar-button-icon {
        background-image: url(chrome://branding/content/icon64.png);
    }

    .searchbar-button-label {
        margin-inline-start: 10px;
    }
}
