.webui-sidebar-category {
    height: 42px;
    width: 100%;
    position: relative;
    color: currentColor;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: 0.2s color, 0.2s background-color;
    margin-bottom: 4px;

    &::before {
        content: "";
        width: 3px;
        height: 20px;
        position: absolute;
        background-color: var(--dot-ui-accent-colour);
        border-radius: 6px;
        left: 0;
        display: flex;
        opacity: 0;
        transition: 0.2s opacity;
    }

    &:hover {
        background-color: var(--toolbarbutton-hover-background);
    }

    &:active {
        background-color: var(--toolbarbutton-active-background);
    }

    &[data-selected="true"] {
        color: var(--dot-ui-accent-colour);
        background-color: color-mix(in srgb, var(--dot-ui-accent-colour) 10%, transparent);

        &::before {
            opacity: 1;
        }

        .webui-sidebar-category-icon {
            fill-opacity: 1;
        }

        .webui-sidebar-category-label {
            opacity: 1;
        }
    }

    .webui-sidebar-category-icon {
        margin-inline-start: 18px;
        margin-inline-end: 14px;
        width: 16px;
        height: 16px;
        fill: currentColor;
        background-size: cover;
        background-repeat: no-repeat;
        -moz-context-properties: fill, fill-opacity;
        fill-opacity: 0.75;
        display: flex;
        transition: 0.2s fill-opacity;
    }

    .webui-sidebar-category-label {
        opacity: 0.75;
        font-size: 14px;
        font-weight: 500;
        transition: 0.2s opacity;
    }
}