/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

input[is=browser-urlbar-input] {
    appearance: none;

    background-color: transparent;

    border: none;
    outline: none;

    padding: 0 calc(var(--urlbar-container-padding) * 3);
    margin: 0;

    flex: 500 500;

    font: inherit;
}