/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

panel[is="browser-addressbar-panel"] {
    opacity: 1 !important;

    &[open] {
        --panel-inner-padding: 6px;
    }

    .browser-panel-container {
        width: var(--addressbar-width);
        height: var(--addressbar-height);

        padding: var(--panel-inner-padding, 0px);

        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}