/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

browser-addressbar {
    display: flex;

    background-color: var(--toolbar-field-background-color);
    color: var(--toolbar-field-color);

    border-radius: 8px;

    flex: 500 500;

    outline: 0px solid var(--toolbar-field-focus-background-color);

    transition: 0s all 0.01s;

    z-index: 2147483647;
}