/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host(browser-urlbar-results) {
    display: flex;
    height: 400px;
    padding: 0 2px;
    margin-block-start: var(--urlbar-expanded-padding);
    border-top: 1px solid var(--arrowpanel-border-color);
}