/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/content/widgets/browser-addressbar-button.css");
@import url("chrome://dot/content/widgets/browser-addressbar-input.css");

:host(browser-addressbar-container) {
    display: flex;
    flex-direction: row;

    align-items: stretch;

    width: calc(100% - var(--addressbar-container-padding) * 2);
    height: 100%;

    border-radius: var(--addressbar-border-radii);

    background-color: var(--addressbar-container-background);
    color: var(--addressbar-container-color);

    --addressbar-container-padding: 2px;
    padding-inline: var(--addressbar-container-padding);

    outline: 0px solid var(--addressbar-container-background);

    transition: 0.3s outline cubic-bezier(0.19, 1, 0.22, 1);
}

:host(browser-addressbar-container[slot=content]) {
    --addressbar-container-background: var(--toolbar-field-background-color);
    --addressbar-container-color: var(--toolbar-field-color);
}

:host(browser-addressbar-container[slot=panel]) {
    outline: var(--panel-inner-padding) solid var(--addressbar-container-background);

    --addressbar-container-background: var(--arrowpanel-background);
    --addressbar-container-color: var(--arrowpanel-color);

    box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132), 0 .6px 1.8px 0 rgba(0, 0, 0, .108);
}

:host(browser-addressbar-container)>.customizable-container>*:not(input) {
    margin-block: var(--addressbar-container-padding);
}