/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

button[is=browser-addressbar-button] {
    display: flex;

    padding: 0px 8px;

    --button-default-color: transparent;

    &[mode=icons_text] {
        --button-default-color: var(--arrowpanel-background);

        &+[padded] {
            padding-inline: 6px;
        }
    }

    &+[padded] {
        padding-inline: 4px;
    }

    & .browser-button-container {
        display: flex;

        gap: 10px;
        align-items: center;

        flex: 1;
    }
}