/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

input[is=browser-addressbar-input] {
    display: flex;

    flex: 1;

    padding: 0;
    margin: 0;

    min-width: 0;

    background-color: transparent;
    border: none;

    font: inherit;

    &:focus-visible {
        outline: none;
    }
}