<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>

<html>

<head>
  <title data-l10n-id="pref-page-title"></title>
  <link rel="icon" href="chrome://global/skin/icons/settings.svg" />
  <link rel="stylesheet" href="chrome://browser/skin/dotui/webui/common.css" media="all" />
  <link rel="stylesheet" href="chrome://browser/skin/dotui/webui/settings.css" media="all" />
  <link rel="stylesheet" href="chrome://global/skin/in-content/common.css" />
  <link rel="localization" href="branding/brand.ftl" />
  <link rel="localization" href="browser/branding/brandings.ftl" />
  <link rel="localization" href="browser/preferences/preferences.ftl" />
  <link rel="localization" href="browser/aboutPreferences.ftl" />
  <!-- Settings component scripts -->
  <script src="chrome://browser/content/preferences/new/components/profiles.js"></script>
  <!-- Settings component scripts: END -->
  <script src="chrome://browser/content/preferences/new/newpreferences.js"></script>
  <script src="chrome://browser/content/contentTheme.js"></script>
</head>

<body>
  <div id="mount" class="app-divide">
    <aside class="sidebar">
      <h1 data-l10n-id="pref-page-title"></h1>
      <input id="search-textbox" data-l10n-id="preferences-filter" type="text" />
      <ul class="sidebar-categories">

        <li>
          <a class="sidebar-category" href="#general" id="tab-general">
            <i class="general-icon"></i>
            <span data-l10n-id="preferences-category-general"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#appearance" id="tab-appearance">
            <i class="appearance-icon"></i>
            <span data-l10n-id="preferences-category-appearance"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#themes" id="tab-themes">
            <i class="themes-icon"></i>
            <span data-l10n-id="preferences-category-themes"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#start-page" id="tab-start-page">
            <i class="start-page-icon"></i>
            <span data-l10n-id="preferences-category-start-page"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#privacy-and-security" id="tab-privacy-and-security">
            <i class="privacy-and-security-icon"></i>
            <span data-l10n-id="preferences-category-privacy-and-security"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#search" id="tab-search">
            <i class="search-icon"></i>
            <span data-l10n-id="preferences-category-search"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#language-and-region" id="tab-language-and-region">
            <i class="l10n-icon"></i>
            <span data-l10n-id="preferences-category-l10n"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#downloads" id="tab-downloads">
            <i class="downloads-icon"></i>
            <span data-l10n-id="preferences-category-downloads"></span>
          </a>
        </li>

        <li>
          <a class="sidebar-category" href="#ease-of-access" id="tab-ease-of-access">
            <i class="ease-of-access-icon"></i>
            <span data-l10n-id="preferences-category-ease-of-access"></span>
          </a>
        </li>
      </ul>
    </aside>

    <main id="content">
      <h2 class="section-title">
        General
      </h2>

      <div class="preferences-block">
        <h4 class="block-title">
          Profiles
        </h4>

        <div id="profiles" class="preferences-block-container">

        </div>
      </div>
    </main>
  </div>
</body>

</html>