/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

$accent-red: rgb(246, 66, 66);
$accent-orange: rgb(254, 146, 52);
$accent-yellow: rgb(253, 205, 58);
$accent-green: rgb(48, 208, 44);
$accent-blue: rgb(37, 110, 245);
$accent-indigo: rgb(63, 41, 215);
$accent-purple: rgb(116, 44, 208);
$accent-pink: rgb(195, 44, 208);
$accent-gray: rgb(141, 141, 141);

$accent-black: rgb(29, 29, 29);
$accent-white: rgb(245, 245, 245);
