/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
    min-width: 500px;
    min-height: 300px;
    overflow: clip;
}

html,
body {
    padding: 0;
    margin: 0;
}

#browser {
    display: flex;
    flex-flow: column nowrap;
    font: message-box;
    background-color: var(--lwt-accent-color, white);
    color: var(--lwt-text-color);
    overflow: clip;
    margin: 0;
    height: 100vh;
    flex: 1 1 auto;
}

#browser-content {
    display: flex;
    flex: 1 1 0;
    position: relative;
    overflow: hidden;

    #browser-content-tabbox {
        display: flex;
        flex: 1;
        position: relative;

        .browserview,
        .browserview > browser {
            display: flex;
            flex: 1;
        }
    }
}

:focus-visible {
    outline: 2px solid var(--dot-ui-accent-colour) !important;
    outline-offset: -2px !important;
}
