html {
    min-width: 500px;
    min-height: 300px;
    overflow: clip;
}

body,
:root {
    font: message-box;
    color: var(--lwt-text-color);
    overflow: clip;
    margin: 0;
    height: 100vh;
    display: flex;
    flex: 1 1 auto;
    font-size: 13px;
}

#browser {
    display: flex;
    flex-flow: column nowrap;
}

:focus-visible {
    outline: 2px solid var(--dot-ui-accent-colour) !important;
    outline-offset: -2px !important;
}
