.ui-modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &[data-type="window"] {
        -moz-window-dragging: drag;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: #00000080;
        z-index: -1;
    }

    .ui-modal-dialog-container {
        display: flex;
        flex-direction: column;
        background-color: color-mix(
            in srgb,
            var(--arrowpanel-background) 90%,
            transparent 100%
        );
        padding: 22px;
        border-radius: 18px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='300' height='300' fill='none'%3E%3Cfilter id='n' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' stitchTiles='stitch' baseFrequency='0.75'%3E%3C/feTurbulence%3E%3C/filter%3E%3Crect width='300' height='300' style=''%3E%3C/rect%3E%3Crect width='300' height='300' filter='url(%23n)' opacity='0.5'%3E%3C/rect%3E%3C/svg%3E");
        background-blend-mode: overlay;
        backdrop-filter: blur(12px);
        margin: 2.5rem 0;
        user-select: none;
        min-width: 370px;
        min-height: 150px;
        max-width: 500px;
        width: max-content;
        height: max-content;
    }
}

.ui-modal-dialog-container {
    transform-origin: center;
    will-change: transform;
    animation: 0.15s modal-open
        cubic-bezier(0, 0.85, 0.3, 1);

    @keyframes modal-open {
        0% {
            transform: translate(0px, 12px) scale(0.95);
            opacity: 0;
        }
        100% {
            transform: translate(0px, 0px) scale(1);
            opacity: 1;
        }
    }

    .modal-title-text {
        margin: 0;
        font-size: 14px;
        font-weight: 600;
        width: inherit;
        -moz-window-dragging: no-drag;
    }

    .modal-body-text {
        margin: 8px 0;
        font-size: 13px;
        font-weight: 400;
        white-space: break-spaces;
        opacity: 0.8;
        max-height: 200px;
        overflow-y: auto;
        user-select: text;
        -moz-window-dragging: no-drag;
    }

    .modal-buttons {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1;
        -moz-window-dragging: no-drag;
    }
}
