/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.browser-window-controls {
    .titlebar-min {
        appearance: auto;
        -moz-default-appearance: -moz-window-button-minimize;
    }

    .titlebar-max {
        appearance: auto;
        -moz-default-appearance: -moz-window-button-maximize;
    }

    .titlebar-restore {
        appearance: auto;
        -moz-default-appearance: -moz-window-button-restore;
    }

    .titlebar-close {
        appearance: auto;
        -moz-default-appearance: -moz-window-button-close;
    }
}

#browser:not([sizemode="maximized"]) .titlebar-restore,
#browser[sizemode="maximized"] .titlebar-max {
    display: none;
}
