/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/skin/browser-shared.css");

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
    --chrome-content-separator-color: ThreeDShadow;
}

/* Apply GTK rounded top corners */
@media (-moz-gtk-csd-available) {
    :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) {
        -moz-default-appearance: -moz-window-titlebar;
        appearance: auto;
    }

    :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) body {
        border-top-left-radius: env(-moz-gtk-csd-titlebar-radius);
        border-top-right-radius: env(-moz-gtk-csd-titlebar-radius);
    }
}