/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

menu {
    display: flex;
    flex-direction: column;
    background-color: var(--toolbar-bgcolor);
    border-radius: 12px;
    padding: 8px 0;
    transition: 0.4s transform cubic-bezier(.68, -0.55, 0, 1.67), 0.15s opacity;

    opacity: 0;
    transform: scale(0);
    transform-origin: top left;

    margin: 0;
    min-width: 250px;
    height: 250px;

    z-index: 1348755674;
}

menu[open] {
    position: absolute;

    left: var(--menu-x);
    top: var(--menu-y);

    opacity: 1;
    transform: scale(1);
}