.webui-subsection {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 32px 0;

    .webui-subsection-container {
        margin-top: 16px;
        border-radius: 12px;
        background-color: var(--toolbar-bgcolor);
        padding: 32px;
        width: calc(100% - 32px * 2);
        gap: 18px;
        display: flex;
        flex-direction: column;
        transition: 0.3s background-color;
    }
}

h3.webui-subsection-title {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    margin: 0;
}