/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

:root {
    --button-disabled-opacity: 0.5;

    --button-color: color-mix(in srgb, currentColor 10%, transparent);
    --button-hover-color: color-mix(in srgb, currentColor 15%, transparent);
    --button-active-color: color-mix(in srgb, currentColor 30%, transparent);
    --button-checked-color: color-mix(in srgb, currentColor 30%, transparent);
    --button-checked-hover-color: color-mix(in srgb, currentColor 35%, transparent);
    --button-checked-active-color: color-mix(in srgb, currentColor 40%, transparent);

    --button-ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

button,
select,
xul|button,
html|button,
html|select {
    appearance: none;

    min-height: 24px;
    min-width: 16px;

    border: none;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 600;

    color: unset;
    background-color: var(--button-color);

    transition: background 200ms var(--button-ease-out-quad),
        outline 25ms var(--button-ease-out-quad);
}

button,
xul|button,
html|button {
    padding: 6px 24px;
}

select,
html|select {
    padding: 6px 14px;

    background-image: url(chrome://dot/skin/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    -moz-context-properties: fill;
    fill: currentColor;
}

button:hover:not(:disabled),
select:focus:not(:disabled),
xul|button:hover:not(:disabled),
html|button:hover:not(:disabled),
html|select:hover:not(:disabled),
html|select:focus:not(:disabled) {
    background-color: var(--button-hover-color);
}

button:active:not(:disabled),
select:active:not(:disabled),
xul|button:active:not(:disabled),
html|button:active:not(:disabled),
html|select:active:not(:disabled) {
    background-color: var(--button-active-color);
}

button:disabled>*,
select:disabled,
xul|button:disabled>*,
html|button:disabled>*,
html|select:disabled {
    filter: opacity(var(--button-disabled-opacity));
}

button:focus-visible:not(:active),
select:focus-visible,
xul|button:focus-visible:not(:active),
html|button:focus-visible:not(:active),
html|select:focus-visible {
    background-color: var(--button-color);

    outline: 2px solid AccentColor;
    outline-offset: 2px;

    z-index: 1;

    transition: outline-offset 50ms var(--button-ease-out-quad);
}

button:focus-visible:active,
xul|button:focus-visible:active,
html|button:focus-visible:active {
    outline: 2px solid AccentColor;
    outline-offset: 0px;

    transition: outline-offset 100ms var(--button-ease-out-quad);
}

@media (prefers-contrast) {

    button:not(:disabled),
    select:not(:disabled),
    xul|button:not(:disabled),
    html|button:not(:disabled),
    html|select:not(:disabled) {
        outline: 1px solid currentColor;
        outline-offset: -1px;
    }
}