/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

a.toolbar-button {
    width: calc(40px - 6px * 2);
    height: 40px;
    appearance: none;
    color: currentColor;
    border: none;
    display: flex;
    -moz-window-dragging: no-drag;
    transition: 0.3s color, 0.3s transform,
        0s visibility 0.3s;

    &:hover .toolbarbutton-icon {
        background-color: var(
            --button-hover,
            var(--toolbarbutton-hover-background)
        );
    }

    &:active .toolbarbutton-icon {
        background-color: var(
            --button-active,
            var(--toolbarbutton-active-background)
        );
    }

    &[data-hidden="true"] {
        display: none;
    }
}

a.toolbar-button .toolbarbutton-icon {
    transition: 0.15s background-color;
}

a.toolbar-button.toolbar-button-has-image:not(:hover, :active)
    .toolbarbutton-icon {
    background-color: transparent;
}

a.toolbar-button[disabled],
a.toolbar-button.toolbar-button-disabled {
    .toolbarbutton-icon {
        background-color: transparent !important;
        fill-opacity: 0.5 !important;
    }
}

a.toolbar-button.toolbar-button-has-image
    .toolbarbutton-icon {
    background-size: 14px;
    -moz-context-properties: fill, fill-opacity;
    fill: var(--toolbarbutton-icon-fill);
    padding: 6px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--chrome-roundness);
    margin: 6px 0px;
    width: inherit;
}

a.toolbar-button[menu-open="true"] > .toolbarbutton-icon {
    background-color: var(
        --toolbarbutton-active-background
    ) !important;
    pointer-events: none !important; /* This is so clicking the menu opener while active doesn't make the menu reopen */
}
