/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://dot/skin/browser-shared.css");

@namespace html url("http://www.w3.org/1999/xhtml");

:root {
	--toolbar-non-lwt-bgcolor: -moz-dialog;
	--toolbar-non-lwt-textcolor: -moz-dialogtext;
	--toolbar-non-lwt-bgimage: linear-gradient(
		rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0.15)
	);

	--chrome-content-separator-color: ThreeDShadow;
}
