.image-selector-container {
    display: flex;

    color: var(--lwt-text-color);
    stroke: var(--lwt-text-color);

    .key {
        margin-right: 36px;
        position: relative;

        img {
            height: 68px;
            border-radius: 8px;
            border: 2px solid var(--sidebar-background-color);
        }

        .description {
            text-align: center;
        }

        .check {
            width: 28px;
            height: 28px;
            background-color: var(--autocomplete-popup-highlight-background);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50px;
            right: -6px;
            border: var(--lwt-accent-color) 4px solid;
        }
    }
}